{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><span>Productos Académicos</span></li>
{% endblock %}

{% block contenido %}
<div class="unit-centered unit-80">
    <div class="table-container">
        <table class="width-100 table-striped">
            <thead>
                <tr>
                    <th>Meta</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td class="width-80 enlace">
                        <a href="{{ path('productosacademicos_edit', { 'id': entity.id }) }}">
                            {{ entity.meta }}
                        </a>
                    </td>
                    <td class="width-10"> 
                        <a href="{{ path('productosacademicos_edit', { 'id': entity.id }) }}" >
                            <img id="action" src="{{ asset('bundles/backend/img/editar.svg') }}" alt="Editar">
                        </a>
                    </td>
                    <td class="width-10">
                        <a href="{{ path('productosacademicos_delete', { 'id': entity.id }) }}" >
                            <img id="action" src="{{ asset('bundles/backend/img/eliminar.svg') }}" alt="Eliminar">
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(entities) }}
    <a href="{{ path('productosacademicos_new') }}" class="btn btn-blue">Nuevo</a>
</div>
{% endblock %}
