{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('productosacademicos') }}">Productos Académicos</a></li>
    <li><span>Agregar un nuevo producto académico</span></li>
{% endblock %}

{% block body %}
<div class="unit-100">
    <div class="units-row">
        <div class="unit-centered unit-50">
            {% form_theme form '::fields.html.twig' %}
            <fieldset>
                <legend>Producto Académico</legend>
                
                {{ form_start(form, { 'attr': {'class': 'pure-form pure-form-aligned'} }) }}

                    <div class="pure-control-group">
                        {{ form_label(form.meta, 'Meta') }}
                        {{ form_row(form.meta) }}
                    </div>

            </fieldset>

            <div class="units-row">
                <div class="unit-push-80 unit-20">
                    {{ form_row(form.submit, { 'attr': {'class': 'btn btn-blue'} }) }}

                {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}