{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('productosacademicos') }}">Productos Académicos</a></li>
    <li><span>Agregar un nuevo producto académico</span></li>
{% endblock %}

{% block contenido %}
<div class="unit-100">
    <div class="units-row">
        <div class="unit-centered unit-50">
            <fieldset>
                <legend>Producto Académico</legend>
                {{ form_start(form, { 'action': path('productosacademicos_new'), 'method': 'POST', 'attr': {'enctype': 'multipart/form-data', 'class': 'forms forms-columnar'} }) }}
                    
                    <p>
                        {{ form_label(form.meta, 'Meta *') }}
                        {{ form_widget(form.meta, { 'attr': {'class': 'width-100'} }) }}
                {{ form_end(form) }}
                    </p>

                    <p>
                        <input type="submit" value="GUARDAR" class="btn btn-blue">
                    </p>
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}