{% extends '::backend.html.twig' %}

{% block body %}
<div class="unit-80">
    <h1>ProductosAcademicos</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Meta</th>
                <td>{{ entity.meta }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('productosacademicos') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('productosacademicos_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
</div>
{% endblock %}

{% block lateral %}
<aside class="unit-20">
    <h5>Enlaces</h5>
    <nav class="nav-v nav-stats">
        <ul>
            <li><a href="{{ path('proyectosproductos') }}">Proyectos-Productos Academicos</a></li>
        </ul>
    </nav>
</aside>
{% endblock %}