{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('investigadores') }}">Investigadores</a></li>
    <li><a href="{{ path('investigadoreslineas') }}">Investigadores y líneas de investigación</a></li>
    <li><span>Actualizar datos de investigadores y líneas de investigación</span></li>
{% endblock %}

{% block contenido %}
<div class="unit-100">
    <div class="units-row">
        <div class="unit-centered unit-50">
            <fieldset>
                <legend>Investigadores y líneas de investigación</legend>
                {{ form_start(form, { 'attr': {'class': 'forms forms-columnar'} }) }}
                    
                    <p>
                        {{ form_label(form.investigadores, 'Investigador *') }}
                        {{ form_widget(form.investigadores, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                        
                    
                    <p>
                        {{ form_label(form.lineasinvestigacion, 'Línea de invest. *') }}
                        {{ form_widget(form.lineasinvestigacion, { 'attr': {'class': 'width-100'} }) }}
                    </p>

                    <p>
                        {{ form_label(form.rol, 'Rol') }}
                        {{ form_widget(form.rol, { 'attr': {'class': 'width-100'} }) }}
                    </p>

                    <p>
                        {{ form_rest(form) }}    
                    </p>
                {{ form_end(form) }}
            </fieldset>
        </div>
    </div>
</div>
<button class="btn btn-red">ELIMINAR</button>
{% endblock %}
