{% extends '::backend.html.twig' %}

{% block menu %}
    <li><a href="{{ path('noticias') }}">Noticias</a></li>
    <li><a href="{{ path('portada') }}">Portada</a></li>
    <li><a href="{{ path('alumnos') }}">Alumnos</a></li>
    <li><a href="{{ path('areas') }}">Áreas de inv.</a></li>
    <li><span>Investigadores</span></li>
    <li><a href="{{ path('lineas') }}">Líneas de inv.</a></li>
    <li><a href="{{ path('productosacademicos') }}">Prod. académicos</a></li>
    <li><a href="{{ path('posgrados') }}">Posgrados</a></li>
    <li><a href="{{ path('proyectos') }}">Proyectos</a></li>
{% endblock %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('investigadores') }}">Investigadores</a></li>
    <li><span>Investigadores y líneas de investigación</span></li>
{% endblock %}


{% block contenido %}
<div class="unit-centered unit-80">
    <div class="table-container">
        <table class="width-100 table-striped">
            <thead>
                <tr>
                    <th>Investigador</th>
                    <th>Línea de investigación</th>
                    <th>Rol</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td class="width-40 enlace">
                        <a href="{{ path('investigadoreslineas_edit', { 'id': entity.id }) }}">
                            {{ entity.nombre ~ " " ~  entity.apellidoPaterno ~ " " ~  entity.apellidoMaterno }}
                        </a>
                    </td>
                    <td class="width-30 enlace">
                        <a href="{{ path('investigadoreslineas_edit', { 'id': entity.id }) }}">
                            {{ entity.nom_linea }}
                        </a>
                    </td>
                    <td class="width-10 enlace">
                        <a href="{{ path('investigadoreslineas_edit', { 'id': entity.id }) }}">
                            {{ entity.rol }}
                        </a>
                    </td>
                    <td class="width-10"> 
                        <a href="{{ path('investigadoreslineas_edit', { 'id': entity.id }) }}" >
                            <img id="action" src="{{ asset('bundles/backend/img/editar.svg') }}" alt="Editar">
                        </a>
                    </td>
                    <td class="width-10">
                        <a href="{{ path('investigadoreslineas_delete', { 'id': entity.id }) }}" >
                            <img id="action" src="{{ asset('bundles/backend/img/eliminar.svg') }}" alt="Eliminar">
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(entities) }}
    <a href="{{ path('investigadoreslineas_new') }}" class="btn btn-blue">Nuevo</a>
</div>
{% endblock %}