{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('investigadores') }}">Investigadores</a></li>
    <li><span>Investigadores y líneas de investigación</span></li>
{% endblock %}


{% block body %}
<aside class="unit-25 unit-padding">
    <h6>Opciones</h6>
    <nav class="nav-v">
        <ul>
            <li><span>Registrar en una línea de investigación</span></li>
        </ul>
    </nav>
</aside>

<div class="unit-75">
    <div class="table-container">
        <table class="width-100 table-striped">
            <thead>
                <tr>
                    <th>Investigador</th>
                    <th>Línea de investigación</th>
                    <th>Rol</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td class="enlace">
                        <a href="{{ path('investigadoreslineas_edit', { 'id': entity.id }) }}">
                            {{ entity.nombre ~ " " ~  entity.apellidoPaterno ~ " " ~  entity.apellidoMaterno }}
                        </a>
                    </td>
                    <td class="enlace">
                        <a href="{{ path('investigadoreslineas_edit', { 'id': entity.id }) }}">
                            {{ entity.nom_linea }}
                        </a>
                    </td>
                    <td class="enlace">
                        <a href="{{ path('investigadoreslineas_edit', { 'id': entity.id }) }}">
                            {{ entity.rol }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<a href="{{ path('investigadoreslineas_new') }}" class="btn btn-blue">Nuevo</a>
{% endblock %}