{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><span>Usuario</span></li>
{% endblock %}

{% block contenido %}
<div class="unit-centered unit-80">
    <div class="table-container">
        <table class="width-100 table-striped">
            <thead>
                <tr>
                    <th>Nombre(s)</th>
                    <th>Apellidos</th>
                    <th>Correo electrónico</th>
                </tr>
            </thead>
            <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td class="width-20 enlace">
                        <a href="{{ path('usuario_edit', { 'id': usuario.id }) }}" >
                            {{ usuario.nombre }}
                        </a>
                    </td>
                    <td class="width-30 enlace">
                        <a href="{{ path('usuario_edit', { 'id': usuario.id }) }}" >
                            {{ usuario.apellidos }}
                        </a>
                    </td>
                    <td class="width-30 enlace">
                        <a href="{{ path('usuario_edit', { 'id': usuario.id }) }}" >
                            {{ usuario.email }}
                        </a>
                    </td>
                    <td class="width-10"> 
                        <a href="{{ path('usuario_edit', { 'id': usuario.id }) }}" >
                            <img id="action" src="{{ asset('bundles/backend/img/editar.svg') }}" alt="Editar">
                        </a>
                    </td>
                    <td class="width-10">
                        <a href="{{ path('usuario_delete', { 'id': usuario.id }) }}" >
                            <img id="action" src="{{ asset('bundles/backend/img/eliminar.svg') }}" alt="Eliminar">
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(usuarios) }}
    <a href="{{ path('usuario_new') }}" class="btn btn-blue">Nuevo</a>
</div>
{% endblock %}
