{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><span>Usuario</span></li>
{% endblock %}

{% block contenido %}
<div class="unit-100">
    <div class="units-row">
        <div class="unit-centered unit-50">
            <fieldset>
                <legend>Usuario</legend>
                {{ form_start(form, { 'action': path('usuario_new'), 'method': 'POST', 'attr': { 'class': 'forms forms-columnar'} }) }}
                  
                    <p>
                        {{ form_label(form.nombre, 'Nombre(s) *') }}
                        {{ form_widget(form.nombre, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                    
                    <p>
                        {{ form_label(form.apellidos, 'Apellidos *') }}
                        {{ form_widget(form.apellidos, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                        
                    <p>
                        {{ form_label(form.email, 'Correo electrónico *') }}
                        {{ form_widget(form.email, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                        
                    <p>
                        {{ form_label(form.password, 'Password *') }}
                        {{ form_widget(form.password, { 'attr': {'class': 'width-100'} }) }}
                    </p>

                    <p>
                        {{ form_label(form.salt, 'Salt *') }}
                        {{ form_widget(form.salt, { 'attr': {'class': 'width-100'} }) }}
                    </p>   

                    <p>
                        {{ form_rest(form) }}    
                    </p>
                    
                    <p>
                {{ form_end(form) }}
                    </p>
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}