{% extends '::backend.html.twig' %}

{% block body %}
<div class="unit-80">
    <h3>Áreas</h3>
    <div class="table-container">
        <table class="width-100 table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th class="width-80">Nombre</th>
                    <th>Actualizar</th>
                    <th>Consultar</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('areas_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.nombre }}</td>
                    <td>
                        <a href="{{ path('areas_edit', { 'id': entity.id }) }}">
                            <center><img src="{{ asset('bundles/backend/img/cog.png') }}" alt="" /></center>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('areas_show', { 'id': entity.id }) }}">
                            <center><img src="{{ asset('bundles/backend/img/search.png') }}" alt="" /></center>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<a href="{{ path('areas_new') }}" class="btn btn-blue">Nuevo</a>
{% endblock %}