{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('areas') }}">Áreas</a></li>
    <li><span>Agregar una nueva área de investigación</span></li>
{% endblock %}

{% block body %}
<div class="unit-100">
    <div class="units-row">
        <div class="unit-centered unit-50">
            {% form_theme form '::fields.html.twig' %}
            <fieldset>
                <legend>Áreas</legend>
                
                {{ form_start(form, { 'attr': {'class': 'pure-form pure-form-aligned'} }) }}
                    <div class="pure-control-group">
                        {{ form_label(form.nombre, 'Nombre') }}
                        {{ form_row(form.nombre) }}
                    </div>
                    <div class="pure-control-group">
                        {{ form_label(form.descripcion, 'Descripción') }}
                        {{ form_row(form.descripcion) }}
                    </div>
            </fieldset>
            
            <div class="units-row">
                <div class="unit-push-80 unit-20">
                    {{ form_row(form.submit, { 'attr': {'class': 'btn btn-blue'} }) }}

                {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}