{% extends '::backend.html.twig' %}

{% block menu %}
    <li><a href="{{ path('noticias') }}">Noticias</a></li>
    <li><a href="{{ path('portada') }}">Portada</a></li>
    <li><a href="{{ path('alumnos') }}">Alumnos</a></li>
    <li><span>Áreas de inv.</span></li>
    <li><a href="{{ path('investigadores') }}">Investigadores</a></li>
    <li><a href="{{ path('lineas') }}">Líneas de inv.</a></li>
    <li><a href="{{ path('productosacademicos') }}">Prod. académicos</a></li>
    <li><a href="{{ path('posgrados') }}">Posgrados</a></li>
    <li><a href="{{ path('proyectos') }}">Proyectos</a></li>
{% endblock %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('areas') }}">Áreas de investigación</a></li>
    <li><span>Agregar una nueva área de investigación</span></li>
{% endblock %}

{% block contenido %}
<div class="unit-100">
    <div class="units-row">
        <div class="unit-centered unit-50">
            <fieldset>
                <legend>Áreas</legend>
                {{ form_start(form, { 'action': path('areas_new'), 'method': 'POST', 'attr': {'enctype': 'multipart/form-data', 'class': 'forms forms-columnar'} }) }}
                    
                    <p>
                        {{ form_label(form.nombre, 'Nombre *') }}
                        {{ form_widget(form.nombre, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                        
                    <p>
                        {{ form_label(form.descripcion, 'Descripción') }}
                        {{ form_widget(form.descripcion, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                
                    <p>
                        {{ form_rest(form) }}
                {{ form_end(form) }}
                    </p>
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}