<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Administración{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ asset('bundles/backend/css/kube.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/backend/css/master.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="wrapper">
            <header id="header">
                <nav class="breadcrumbs">
                    <ul>
                        <li><a href="{{ path('alumnos') }}">Alumnos</a></li>
                        <li><a href="{{ path('areas') }}">Áreas</a></li>
                        <li><a href="{{ path('investigadores') }}">Investigadores</a></li>
                        <li><a href="{{ path('lineas') }}">Líneas de Investigación</a></li>
                        <li><a href="{{ path('productosacademicos') }}">Productos Académicos</a></li>
                        <li><a href="{{ path('proyectos') }}">Proyectos</a></li>
                    </ul>
                </nav>
            </header>

            <div class="units-row">
                <nav class="breadcrumbs">
                    <ul>
                        {% block mapa %}
                        <li><span>Inicio</span></li>
                        {% endblock %}
                    </ul>
                </nav>                
            </div>

            <div class="units-row">
                {% block lateral %}
                <aside class="unit-20">
                    <nav class="nav-v nav-stacked nav-stats">
                        <ul>
                            <li><a href="{{ path('alumnos') }}">Alumnos</a></li>
                            <li><a href="{{ path('areas') }}">Áreas</a></li>
                            <li><a href="{{ path('investigadores') }}">Investigadores</a></li>
                            <li><a href="{{ path('lineas') }}">Líneas de Investigación</a></li>
                            <li><a href="{{ path('productosacademicos') }}">Productos Académicos</a></li>
                            <li><a href="{{ path('proyectos') }}">Proyectos</a></li>
                        </ul>
                    </nav>
                </aside>
                {% endblock %}
                {% block body %}
                {% endblock %}
            </div>
            <footer id="footer">&copy; Instituto Tecnológico de Mexicali.</footer>
        </div>
    </body>
</html>