<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Administración{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ asset('bundles/backend/css/kube.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/backend/css/master.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="wrapper">
            <header id="header">
                <img src="{{ asset('bundles/portada/img/itm.png') }}" alt="" class="logo">
                <nav class="nav-g">
                    <ul>
                        <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
                        <li><a href="{{ path('alumnos') }}">Alumnos</a></li>
                        <li><a href="{{ path('areas') }}">Áreas</a></li>
                        <li><a href="{{ path('investigadores') }}">Investigadores</a></li>
                        <li><a href="{{ path('lineas') }}">Líneas de Investigación</a></li>
                        <li><a href="{{ path('productosacademicos') }}">Productos Académicos</a></li>
                        <li><a href="{{ path('proyectos') }}">Proyectos</a></li>
                    </ul>
                </nav>
            </header>
            <div class="units-row">
                {% block lateral %}
                {% endblock %}
                {% block body %}
                {% endblock %}
            </div>
            <footer id="footer">&copy; Instituto Tecnológico de Mexicali.</footer>
        </div>
    </body>
</html>