{% extends '::base.html.twig' %}

{% block title %}Administración{% endblock %}
        
{% block stylesheets %}
  <link href="{{ asset('bundles/backend/css/kube.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('bundles/backend/css/master.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header %}
    <header id="header">
        <nav class="nav-tabs">
            <ul>
            {% block menu %}
                <li><a href="{{ path('noticias') }}">Noticias</a></li>
                <li><a href="{{ path('portada') }}">Portada</a></li>
                <li><a href="{{ path('alumnos') }}">Alumnos</a></li>
                <li><a href="{{ path('areas') }}">Áreas de inv.</a></li>
                <li><a href="{{ path('investigadores') }}">Investigadores</a></li>
                <li><a href="{{ path('lineas') }}">Líneas de inv.</a></li>
                <li><a href="{{ path('productosacademicos') }}">Prod. académicos</a></li>
                <li><a href="{{ path('posgrados') }}">Posgrados</a></li>
                <li><a href="{{ path('proyectos') }}">Proyectos</a></li>
            {% endblock %}
            </ul>
        </nav>
    </header>
    <div class="units-row">
        <nav class="breadcrumbs">
            <ul>
                {% block mapa %}
                    <li><span>Inicio</span></li>
                {% endblock %}
            </ul>
        </nav>                
    </div>
{% endblock %}

{% block body %}
    <div>
        <div class="units-row">
            {% block lateral %}
            {% endblock %}
            {% block contenido %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer id="footer">&copy; Instituto Tecnológico de Mexicali.</footer>
{% endblock %}
