<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Portada!{% endblock %}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
        <link rel="stylesheet" href="{{ asset('bundles/portada/css/foundation.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/portada/css/master.css') }}">
        <script src="{{ asset('bundles/portada/js/vendor/custom.modernizr.js') }}"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>        
      <!-- Header -->
      <div class="row">
        <div class="large-12 columns">
          <div id="cabecera"></div>
        </div>
      </div>

      <!-- First Band (Slider) -->
      <div class="row">
        <div class="large-12 columns">
          {% block slider %}
          {% endblock %}
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          {% block menu %}
          {% endblock %}
        </div>
      </div>
      <!-- End Header and Nav -->

      <!-- Body -->
      <div class="row">
        <div class="large-12 columns">
            {% block body %}
            {% endblock %}
        </div>
      </div>

      <!-- Three-up Content Blocks -->
      <div class="row">
          <div class="large-4 columns">
              <center>
                <a href="http://www.snit.mx/">
                  <img id="dgest" src="{{ asset('bundles/portada/img/dgest.png') }}" />
                </a>
              </center>
          </div>
              
          <div class="large-4 columns">
            <center>
                <a href="http://www.conacyt.gob.mx/Paginas/InicioNueva.aspx">
                  <img id="conacyt" src="{{ asset('bundles/portada/img/conacyt.png') }}" />
                </a>
            </center>
          </div>
              
          <div class="large-4 columns">
            <center>
              <a href="http://ieeexplore.ieee.org/Xplore/home.jsp">
                <img id="ieee" src="{{ asset('bundles/portada/img/ieee.png') }}" />
              </a>
            </center>
          </div>
      </div>
            

      <!-- Footer -->
      <footer class="row">
        <div class="large-12 columns">
          <hr />
          <div class="row">
            <div class="large-6 columns">
              <p>Instituto Tecnologico de Mexicali.</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div> 
      </footer>
      <script src="{{ asset('bundles/portada/js/vendor/zepto.js') }}"></script>
      <script src="{{ asset('bundles/portada/js/vendor/jquery.js') }}"></script>
      <script src="{{ asset('bundles/portada/js/foundation.min.js') }}"></script>
      <script src="{{ asset('bundles/portada/js/foundation/foundation.orbit.js') }}"></script>
      <script src="{{ asset('bundles/portada/js/master.js') }}"></script>
    </body>
</html>