{% extends '::base.html.twig' %}

{% block title %}Posgrado e Investigación{% endblock %}

{% block stylesheets %}
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Convergence|Amaranth' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
{% stylesheets '@PortadaBundle/Resources/public/css/app.css'
               filter='yui_css' %}
  <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/portada/bower_components/foundation/js/vendor/jquery.js') }}" ></script>
<script src="{{ asset('bundles/portada/bower_components/foundation/js/foundation.js') }}" ></script>
<script src="{{ asset('bundles/portada/js/app.js') }}" ></script>
{% endblock %}

{% block header %}
    <!-- Header -->
    <div class="row">    
      <div class="large-7 columns">
          <img src="{{ asset('bundles/portada/img/header.png') }}"/>
      </div>
      <div class="large-5 columns">
          <div class="tituloEncabezado">
            División de estudios de Posgrado e Investigación
          </div>
      </div> 
    </div> 
    <!-- Banner -->
    <div class="row">
      <div class="large-12 columns">    
        <ul id="banner" data-orbit>
          {% for imagen in banner %}
            <li><img src="{{ asset( directorio_imagenes_banner ~ imagen.imagenBanner ) }}"/></li>
          {% endfor %}
        </ul>
      </div> 
    </div>
    <!-- Menu -->
    <div class="row">
      <div class="large-12 columns"> 
        <nav class="top-bar" data-topbar>
          <ul class="title-area">
            <li class="toggle-topbar menu-icon"><a href="#">
              <span>Menu</span></a>
            </li>
          </ul>
          <section class="top-bar-section">
            <ul class="right">
              <li><a href="{{ path('sitio') }}">Inicio</a></li>
              <li class="has-dropdown">
                <a href="#">Investigación</a>
                <ul class="dropdown">
                  <li><a href="{{ path('alumnos_public') }}">Alumnos</a></li>
                  <li><a href="{{ path('areas_public') }}">Áreas de investigación</a></li>
                  <li><a href="{{ path('investigadores_public') }}">Investigadores</a></li>
                  <li><a href="{{ path('lineas_public') }}">Líneas de investigación</a></li>
                </ul>
              </li>
              <li><a href="{{ path('directorio') }}">Directorio</a></li>
            </ul>
          </section>
        </nav>
      </div> 
    </div>
    <!-- Mapa del sitio -->
    <div class="row">
      <div class="large-12 columns">
        <ul class="breadcrumbs">
          {% block mapa %}
            <li class="unavailable">Inicio</li>
          {% endblock %}
        </ul>
      </div>
    </div>   
{% endblock %}

{% block body %}
<!-- Contenido --> 
<div class="row">
  <div id="contenido" class="large-12 columns">
    {% block contenido %}{% endblock %}
  </div> 
</div>   
{% endblock %}

{% block footer %}
<footer class="row">
  <div class="large-12 columns">
      <div class="row">
        <div class="large-4 medium-4 columns">
          <a href="http://www.snit.mx/">
            <center><img src="{{ asset('bundles/portada/img/dgest.png') }}" /></center>
          </a>
        </div>            
        <div class="large-4 medium-4 columns">
          <a href="http://www.conacyt.mx">
            <center><img src="{{ asset('bundles/portada/img/conacyt.png') }}" /></center>
          </a>         
        </div>
        <div class="large-4 medium-4 columns">
          <a href="http://ieeexplore.ieee.org/Xplore/home.jsp">
            <center><img src="{{ asset('bundles/portada/img/ieee.png') }}" /></center>
          </a>
        </div>
      </div>
  </div>

  <div class="large-12 columns">
    <div id="pie">
      <img src="{{ asset('bundles/portada/img/footer.svg') }}"/>
    </div>
  </div>
</footer>
{% endblock %}
