{% extends '::base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/portada/css/foundation.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/portada/css/master.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('bundles/portada/js/vendor/custom.modernizr.js') }}"></script>
	<script src="{{ asset('bundles/portada/js/vendor/zepto.js') }}"></script>
  <script src="{{ asset('bundles/portada/js/vendor/jquery.js') }}"></script>
  <script src="{{ asset('bundles/portada/js/foundation.min.js') }}"></script>
  <script src="{{ asset('bundles/portada/js/foundation/foundation.topbar.js') }}"></script>
  <script src="{{ asset('bundles/portada/js/foundation/foundation.orbit.js') }}"></script>
  <script src="{{ asset('bundles/portada/js/master.js') }}"></script>
  <script>
    $(document).foundation();
  </script>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Convergence|Amaranth' rel='stylesheet' type='text/css'>
{% endblock %}

{% block header %}
    <!-- Header -->
    <div class="row">
      <div class="large-7 columns">
        <img src="{{ asset('bundles/portada/img/header.png') }}"/>
      </div>
      <div class="large-5 columns">
        <div class="titulo">División de estudios de Posgrado e Investigación</div>
      </div>
    </div> 

    <!-- Banner -->
    <div class="row">
      <div class="large-12 columns">
	    <ul data-orbit>
	        <li><img src="{{ asset('bundles/portada/img/a.jpg') }}"/></li>
	        <li><img src="{{ asset('bundles/portada/img/b.jpg') }}"/></li>
	        <li><img src="{{ asset('bundles/portada/img/c.jpg') }}"/></li>
	        <li><img src="{{ asset('bundles/portada/img/d.jpg') }}"/></li>
	        <li><img src="{{ asset('bundles/portada/img/e.jpg') }}"/></li>
	    </ul>
      </div>
    </div>
{% endblock %}

{% block menu %}
  <!-- Nav Wrap -->
  <nav class="top-bar">
      <ul class="title-area">
      <!-- Title Area -->
          <li class="name"></li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <!-- The Section wrap -->
      <section class="top-bar-section">
          <!-- Left Nav Section -->
          <ul class="left">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Our products</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Prices</a></li>
              <li class="has-dropdown">
                  <a href="#">Features</a>
                  <ul class="dropdown">
                      <li><a href="#">Modalboxes</a></li>
                      <li><a href="#">Submenu's and navigation</a></li>
                      <li><a href="#">Price tables</a></li>
                      <li><a href="#">Buttons</a></li>
                      <li><a href="#">Button groups</a></li>
                      <li><a href="#">Labels, Keystrokes and Tooltips</a></li>
                      <li><a href="#">Alert boxes</a></li>
                      <li><a href="#">Columns</a></li>
                  </ul>
              </li>
              <li><a href="#">Contact</a></li>
          </ul>
          <!-- Right Nav Section -->
          <ul class="right"></ul>
      </section>
  </nav>
{% endblock %}

{% block body %}
    <div class="row">
      <div class="large-12 columns">
          {% block informacion %}
          {% endblock %}
      </div>
    </div>

	<div class="row">
        <div class="large-4 columns">
            <center>
              <a href="http://www.snit.mx/">
                <img id="dgest" src="{{ asset('bundles/portada/img/dgest.png') }}" />
              </a>
            </center>
        </div>
            
        <div class="large-4 columns">
          <center>
              <a href="http://www.conacyt.gob.mx/Paginas/InicioNueva.aspx">
                <img id="conacyt" src="{{ asset('bundles/portada/img/conacyt.png') }}" />
              </a>
          </center>
        </div>
            
        <div class="large-4 columns">
          <center>
            <a href="http://ieeexplore.ieee.org/Xplore/home.jsp">
              <img id="ieee" src="{{ asset('bundles/portada/img/ieee.png') }}" />
            </a>
          </center>
        </div>
    </div>
{% endblock %}

{% block footer %}
<!-- Footer -->
	<footer class="row">
    	<div class="large-12 columns">
    		<hr />
        	<div class="row">
     			<div class="large-6 columns">
     			    <p>Instituto Tecnologico de Mexicali.</p>
     			</div>
     			<div class="large-6 columns">
     			  <ul class="inline-list right">
     			    <li><a href="#">Link 1</a></li>
     			    <li><a href="#">Link 2</a></li>
     			    <li><a href="#">Link 3</a></li>
     			    <li><a href="#">Link 4</a></li>
     			  </ul>
     			</div>
        	</div>
        </div> 
    </footer>
{% endblock %}