{% if is_granted('ROLE_ADMIN') %}
	<li><a href="{{ path('usuario') }}">Usuarios</a></li>
	<li><a href="{{ path('alumnos') }}">Alumnos</a></li>
	<li><a href="{{ path('areas') }}">Áreas de inv.</a></li>
	<li><a href="{{ path('investigadores') }}">Investigadores</a></li>
	<li><a href="{{ path('lineas') }}">Líneas de inv.</a></li>
	<li><a href="{{ path('productosacademicos') }}">Prod. académicos</a></li>
	<li><a href="{{ path('posgrados') }}">Posgrados</a></li>
	<li><a href="{{ path('proyectos') }}">Proyectos</a></li>
	<li><a href="{{ path('posgradmin_logout') }}">Salir</a></li>
{% else %}
	<li><a href="{{ path('noticias') }}">Noticias</a></li>
	<li><a href="{{ path('portada') }}">Portada</a></li>
	<li><a href="{{ path('alumnos') }}">Alumnos</a></li>
	<li><a href="{{ path('areas') }}">Áreas de inv.</a></li>
	<li><a href="{{ path('investigadores') }}">Investigadores</a></li>
	<li><a href="{{ path('lineas') }}">Líneas de inv.</a></li>
	<li><a href="{{ path('productosacademicos') }}">Prod. académicos</a></li>
	<li><a href="{{ path('posgrados') }}">Posgrados</a></li>
	<li><a href="{{ path('proyectos') }}">Proyectos</a></li>
	<li><a href="{{ path('posgradmin_logout') }}">Salir</a></li>
{% endif %}

