{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('proyectos') }}">Proyectos</a></li>
    <li><span>Actualizar datos del proyecto</span></li>
{% endblock %}

{% block contenido %}
<div class="unit-100">
    <div class="units-row">
        <div class="unit-centered unit-50">
            <fieldset>
                <legend>Proyecto</legend>
                {{ form_start(edit_form, { 'attr': {'class': 'forms forms-columnar'} }) }}
                        
                    <p>
                        {{ form_label(edit_form.nombreCorto, 'Nombre corto *') }}
                        {{ form_widget(edit_form.nombreCorto, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                        
                    <p>
                        {{ form_label(edit_form.nombreCompleto, 'Nombre completo *') }}
                        {{ form_widget(edit_form.nombreCompleto, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                        
                    <p>
                        {{ form_label(edit_form.objetivoGeneral, 'Objetivo general *') }}
                        {{ form_widget(edit_form.objetivoGeneral, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                        
                    <p>
                        {{ form_label(edit_form.objetivosEspecificos, 'Objetivos específicos *') }}
                        {{ form_widget(edit_form.objetivosEspecificos, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                      
                    <p>
                        {{ form_label(edit_form.claveA, 'Clave A *') }}
                        {{ form_widget(edit_form.claveA, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                        
                    
                    <p>
                        {{ form_label(edit_form.claveB, 'Clave B') }}
                        {{ form_widget(edit_form.claveB, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                
                    <p>
                        {{ form_label(edit_form.fechaApertura, 'Fecha de apertura *') }}
                        {{ form_widget(edit_form.fechaApertura, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                        
                    <p>
                        {{ form_label(edit_form.fechaTermino, 'Fecha de término *') }}
                        {{ form_widget(edit_form.fechaTermino, { 'attr': {'class': 'width-100'} }) }}
                    </p>
 
                    <p>
                        {{ form_widget(edit_form.submit, { 'attr': {'class': 'btn btn-blue'} }) }}

                    {{ form_end(edit_form) }}
                    </p>

                    <p>
                        {{ form_start(delete_form) }}
                            {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-red'} }) }}
                        {{ form_end(delete_form) }} 
                    </p>
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}