{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><span>Proyectos</span></li>
{% endblock %}

{% block contenido %}
<aside class="unit-25 unit-padding">
    <h6>Opciones</h6>
    <nav class="nav-v">
        <ul>
            <li><a href="{{ path('alumnosproyectos') }}">Registro de alumnos</a></li>
            <li><a href="{{ path('investigadorproyecto') }}">Registro de investigadores</a></li>
            <li><a href="{{ path('proyectosproductos') }}">Registro de productos académicos</a></li>
            <li><a href="{{ path('areasproyectos') }}">Registrar área de investigación</a></li>
        </ul>
    </nav>
</aside>

<div class="unit-75">
    <div class="table-container">
        <table class="width-100 table-striped">
            <thead>
                <tr>
                    <th>Proyecto</th>
                    <th>Objetivo general</th>
                    <th>Fecha de apertura</th>
                    <th>Fecha de término</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td class="width-40 enlace">
                        <a href="{{ path('proyectos_edit', { 'id': entity.id }) }}">
                            {{ entity.nombreCompleto }}
                        </a>
                    </td>
                    <td class="width-30 enlace">
                        <a href="{{ path('proyectos_edit', { 'id': entity.id }) }}">
                            {{ entity.objetivoGeneral }}
                        </a>
                    </td>
                    <td class="width-10 enlace">
                        <a href="{{ path('proyectos_edit', { 'id': entity.id }) }}">
                            {% if entity.fechaApertura %}{{ entity.fechaApertura|date('Y-m-d') }}{% endif %}
                        </a>
                    </td>
                    <td class="width-10 enlace">
                        <a href="{{ path('proyectos_edit', { 'id': entity.id }) }}">
                            {% if entity.fechaTermino %}{{ entity.fechaTermino|date('Y-m-d') }}{% endif %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(entities) }}
</div>
<a href="{{ path('proyectos_new') }}" class="btn btn-blue">Nuevo</a>
{% endblock %}