{% extends '::backend.html.twig' %}

{% block body %}
<div class="unit-80">
    <h3>Proyectos list</h3>
    <div class="table-container">
        <table class="width-100 table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Claveitm</th>
                    <th>Claveconacyt</th>
                    <th>Clavedgest</th>
                    <th>Nombrecorto</th>
                    <th>Nombrecompleto</th>
                    <th>Objetivogeneral</th>
                    <th>Objetivosespecificos</th>
                    <th>Fechaapertura</th>
                    <th>Fechatermino</th>
                    <th>Status</th>
                    <th>Actualizar</th>
                    <th>Consultar</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('proyectos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.claveItm }}</td>
                    <td>{{ entity.claveConacyt }}</td>
                    <td>{{ entity.claveDgest }}</td>
                    <td>{{ entity.nombreCorto }}</td>
                    <td>{{ entity.nombreCompleto }}</td>
                    <td>{{ entity.objetivoGeneral }}</td>
                    <td>{{ entity.objetivosEspecificos }}</td>
                    <td>{% if entity.fechaApertura %}{{ entity.fechaApertura|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if entity.fechaTermino %}{{ entity.fechaTermino|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ entity.status }}</td>
                    <td>
                        <a href="{{ path('proyectos_edit', { 'id': entity.id }) }}">
                            <center><img src="{{ asset('bundles/backend/img/cog.png') }}" alt="" /></center>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('proyectos_show', { 'id': entity.id }) }}">
                            <center><img src="{{ asset('bundles/backend/img/search.png') }}" alt="" /></center>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<a href="{{ path('proyectos_new') }}" class="btn btn-blue">Nuevo</a>
{% endblock %}

{% block lateral %}
<aside class="unit-20">
    <h5>Enlaces</h5>
    <nav class="nav-v nav-stats">
        <ul>
            <li><a href="{{ path('areasproyectos') }}">Areas-Proyectos</a></li>
            <li><a href="{{ path('areasproyectos') }}">ProductosAcademicos-Proyectos</a></li>
            <li><a href="{{ path('areasproyectos') }}">Alumnos-Proyectos</a></li>
        </ul>
    </nav>
</aside>
{% endblock %}
