{% extends '::frontend.html.twig' %}

{% block contenido %}
<h3> Proyectos de Investigación </h3>
<div class="small-12 small-centered large-uncentered columns">
	<div class="section-container vertical-tabs" data-section="vertical-tabs">
		{% for entity in entities %}
                             <section >

			<p class="title" data-section-title><a href="#">{{ entity.nombreCorto}}</a></p>
			<div class="content" data-section-content>
				<p style="background-color:#F8F8F8">Nombre:  {{ entity.NombreCompleto}}  </p>
				<p >Clave Conacyt:  {{ entity.ClaveA }} </p>
				<p  style="background-color:#F8F8F8">Clave Dgest:  {{ entity.claveB }}</p>
				<p >Clave ITM: {{ entity.claveB }} </p>
				<p style="background-color:#F8F8F8">Objetivo General:  					{{ entity.objetivoGeneral }}</p>
				<p >Objetivo Especifico: {{entity.objetivosEspecificos }}</p>
			</div>
			</section>
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block lateral %}
<aside class="unit-20">
    <h5>Opciones</h5>
    <nav class="nav-v nav-stats">
        <ul>
            <li><a href="{{ path('proyectos') }}">Proyectos</a></li>
        </ul>
    </nav>
</aside>
{% endblock %}
