{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('proyectos') }}">Proyectos</a></li>
    <li><span>Agregar un nuevo proyectos</span></li>
{% endblock %}

{% block contenido %}
<div class="unit-100">
    <div class="units-row">
        <div class="unit-centered unit-50">
            <fieldset>
                <legend>Proyecto</legend>
                {{ form_start(form, { 'action': path('proyectos_new'), 'method': 'POST', 'attr': {'enctype': 'multipart/form-data', 'class': 'forms forms-columnar'} }) }}
					
                    <p>
                        {{ form_label(form.nombreCorto, 'Nombre corto *') }}
                        {{ form_widget(form.nombreCorto, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                        
                    <p>
                        {{ form_label(form.nombreCompleto, 'Nombre completo *') }}
                        {{ form_widget(form.nombreCompleto, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                        
                    <p>
                        {{ form_label(form.objetivoGeneral, 'Objetivo general *') }}
                        {{ form_widget(form.objetivoGeneral, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                        
                    <p>
                        {{ form_label(form.objetivosEspecificos, 'Objetivos específicos *') }}
                        {{ form_widget(form.objetivosEspecificos, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                    
                    <p>
                    	{{ form_label(form.claveA, 'Clave A *') }}
                        {{ form_widget(form.claveA, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                        
                    
                    <p>
                    	{{ form_label(form.claveB, 'Clave B') }}
                        {{ form_widget(form.claveB, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                          
	                <p>
	                	{{ form_label(form.fechaApertura, 'Fecha de apertura *') }}
	                    {{ form_widget(form.fechaApertura, { 'attr': {'class': 'width-100'} }) }}
	                </p>
	                    
	                <p>
	                	{{ form_label(form.fechaTermino, 'Fecha de término *') }}
                        {{ form_widget(form.fechaTermino, { 'attr': {'class': 'width-100'} }) }}
                {{ form_end(form) }}
                    </p>

                    <p>
                        <input type="submit" value="GUARDAR" class="btn btn-blue">
                    </p>
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}