{% extends '::backend.html.twig' %}

{% block body %}
<div class="unit-80">
    <h1>Proyectos</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Claveitm</th>
                <td>{{ entity.claveItm }}</td>
            </tr>
            <tr>
                <th>Claveconacyt</th>
                <td>{{ entity.claveConacyt }}</td>
            </tr>
            <tr>
                <th>Clavedgest</th>
                <td>{{ entity.claveDgest }}</td>
            </tr>
            <tr>
                <th>Nombrecorto</th>
                <td>{{ entity.nombreCorto }}</td>
            </tr>
            <tr>
                <th>Nombrecompleto</th>
                <td>{{ entity.nombreCompleto }}</td>
            </tr>
            <tr>
                <th>Objetivogeneral</th>
                <td>{{ entity.objetivoGeneral }}</td>
            </tr>
            <tr>
                <th>Objetivosespecificos</th>
                <td>{{ entity.objetivosEspecificos }}</td>
            </tr>
            <tr>
                <th>Fechaapertura</th>
                <td>{{ entity.fechaApertura|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechatermino</th>
                <td>{{ entity.fechaTermino|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('proyectos') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('proyectos_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
</div>
{% endblock %}