{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('posgrados') }}">Posgrados</a></li>
    <li><a href="{{ path('posgradoalumnos') }}">Posgrado y Alumnos</a></li>
    <li><span>Actualizar datos de un alumno en un posgrado</span></li>
{% endblock %}

{% block body -%}
    <h1>PosgradoAlumnos edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('posgradoalumnos') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
