{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('posgrados') }}">Posgrados</a></li>
    <li><a href="{{ path('posgradoalumnos') }}">Posgrado y Alumnos</a></li>
    <li><span>Registro de alumno en un posgrado</span></li>
{% endblock %}

{% block body -%}
    <h1>PosgradoAlumnos creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('posgradoalumnos') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
