{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	<form action="{{ path("fos_user_security_check") }}" method="post" class="forms forms-inline">
	   	<div class="units-row">
	   		<div class="unit-50">
	    		<label for="username" class="width-100">{{ 'security.login.username'|trans }}</label>
	   		</div>
	   		<div class="unit-50">
	   			<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="width-100"/>
	   		</div>
	   	</div>
	   	<div class="units-row">
	   		<div class="unit-30">
	    		<label for="password" class="width-100">{{ 'security.login.password'|trans }}</label>
	   		</div>
	   		<div class="unit-70">
    			<input type="password" id="password" name="_password" required="required" class="width-100" />
	   		</div>
	   	</div>
	   	<div class="units-row">		
		   	<div class="unit-20">
				<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
				<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
			</div>
			<div class="unit-80">
				<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-orange" />
				<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
			</div>
		</div>
	</form>

	{% if error %}
    	<div>{{ error|trans }}</div>
	{% endif %}
{% endblock fos_user_content %}
