{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('proyectos') }}">Proyectos</a></li>
    <li><span>Entidades de apoyo</span></li>
{% endblock %}

{% block body -%}
<aside class="unit-25 unit-padding">
    <h6>Opciones</h6>
    <nav class="nav-v">
        <ul>
            <li><a href="{{ path('alumnosproyectos') }}">Registro de alumnos</a></li>
            <li><a href="{{ path('investigadorproyecto') }}">Registro de investigadores</a></li>
            <li><a href="{{ path('proyectosproductos') }}">Registro de productos académicos</a></li>
            <li><a href="{{ path('areasproyectos') }}">Registrar área de investigación</a></li>
            <li><span>Registrar una entidad de apoyo</span></li>
        </ul>
    </nav>
</aside>

<div class="unit-75">
    <div class="table-container">
        <table class="width-100 table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Clave</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td class="width-50 enlace">
                        <a href="{{ path('entidadapoyo_edit', { 'id': entity.id }) }}">
                            {{ entity.nombre }}
                        </a>
                    </td>
                    <td class="width-50 enlace">
                        <a href="{{ path('entidadapoyo_edit', { 'id': entity.id }) }}">
                            {{ entity.clave }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<a href="{{ path('entidadapoyo_new') }}" class="btn btn-blue">Nuevo</a>
{% endblock %}
