{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('alumnos') }}">Alumnos</a></li>
    <li><span>Actualizar datos del alumno</span></li>
{% endblock %}

{% block contenido %}
<div class="unit-100">
    <div class="units-row">
        <div class="unit-50">
            <fieldset>
                <legend>Imagen</legend>
                <img src="{{ asset('uploads/images/') ~ entity.rutaFoto }}" />
            </fieldset>
        </div>
        <div class="unit-50">
            <fieldset>
                <legend>Alumno</legend>
                
                {{ form_start(edit_form, { 'attr': {'enctype': 'multipart/form-data', 'class': 'forms forms-columnar'} }) }}
                    
                    <p>
                        {{ form_label(edit_form.noControl, 'No. de Control') }}
                        {{ form_widget(edit_form.noControl, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                        
                    
                    <p>
                        {{ form_label(edit_form.nombre, 'Nombre(s)') }}
                        {{ form_widget(edit_form.nombre, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                    
                    <p>
                        {{ form_label(edit_form.apellidoPaterno, 'Apellido Paterno') }}
                        {{ form_widget(edit_form.apellidoPaterno, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                        
                    <p>
                        {{ form_label(edit_form.apellidoMaterno, 'Apellido Materno') }}
                        {{ form_widget(edit_form.apellidoMaterno, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                        
                    <p>
                        {{ form_label(edit_form.email, 'Correo electrónico') }}
                        {{ form_widget(edit_form.email, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                        
                    <p>
                        {{ form_label(edit_form.telefono, 'Teléfono') }}
                        {{ form_widget(edit_form.telefono, { 'attr': {'class': 'width-100'} }) }}
                    </p>    
                    
                    <p>
                        {{ form_label(edit_form.foto, 'Foto') }}
                        {{ form_widget(edit_form.foto, { 'attr': {'class': 'width-100'} }) }}
                    </p>

                    <p>
                         {{ form_widget(edit_form.submit, { 'attr': {'class': 'btn btn-blue'} }) }}
                    {{ form_end(edit_form) }}
                    </p>

                    <p>
                        {{ form_start(delete_form) }}
                            {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-red'} }) }}
                        {{ form_end(delete_form) }}
                    </p>
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}
