{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('alumnos') }}">Alumnos</a></li>
    <li><span>Actualizar datos del alumno</span></li>
{% endblock %}

{% block contenido %}
<div class="unit-100">
    <div class="units-row">
        <div class="unit-30">
            <fieldset>
                <legend>Foto</legend>
                <img id="foto" src="{{ asset('uploads/images/alumnos/') ~ entity.rutaFoto }}" />
            </fieldset>
        </div>
        <div class="units-centered unit-50">
            <fieldset>
                <legend>Alumno</legend>
                
                {{ form_start(form, { 'attr': {'enctype': 'multipart/form-data', 'class': 'forms forms-columnar'} }) }}
                    
                    <p>
                        {{ form_label(form.noControl, 'No. de Control *') }}
                        {{ form_widget(form.noControl, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                        
                    
                    <p>
                        {{ form_label(form.nombre, 'Nombre(s) *') }}
                        {{ form_widget(form.nombre, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                    
                    <p>
                        {{ form_label(form.apellidoPaterno, 'Apellido Paterno *') }}
                        {{ form_widget(form.apellidoPaterno, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                        
                    <p>
                        {{ form_label(form.apellidoMaterno, 'Apellido Materno') }}
                        {{ form_widget(form.apellidoMaterno, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                        
                    <p>
                        {{ form_label(form.email, 'Correo electrónico *') }}
                        {{ form_widget(form.email, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                        
                    <p>
                        {{ form_label(form.telefono, 'Teléfono') }}
                        {{ form_widget(form.telefono, { 'attr': {'class': 'width-100'} }) }}
                    </p>    
                    
                    <p>
                        {{ form_label(form.foto, 'Foto') }}
                        {{ form_widget(form.foto, { 'attr': {'class': 'width-100'} }) }}
                        {{ form_errors(form.foto) }}
                    </p>

                    <p>
                        <input type="submit" value="GUARDAR" >
                    {{ form_end(form) }}
                    </p>
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}
