{% extends '::backend.html.twig' %}

{% block body %}
<div class="unit-80">
    <div class="units-row">
        <div class="unit-50">
            {% form_theme edit_form '::fields.html.twig' %}
            <fieldset>
                <legend>Alumno</legend>
                
                {{ form_start(edit_form, { 'attr': {'class': 'pure-form pure-form-aligned'} }) }}

                    <div class="pure-control-group">
                        {{ form_label(edit_form.noControl, 'No. de control') }}
                        {{ form_row(edit_form.noControl) }}
                    </div>
                    <div class="pure-control-group">    
                        {{ form_label(edit_form.nombre, 'Nombre(s)') }}
                        {{ form_row(edit_form.nombre) }}
                    </div>
                    <div class="pure-control-group"> 
                        {{ form_label(edit_form.apellidoPaterno, 'Apellido paterno') }}
                        {{ form_row(edit_form.apellidoPaterno) }}
                    </div>
                    <div class="pure-control-group"> 
                        {{ form_label(edit_form.apellidoMaterno, 'Apellido materno') }}
                        {{ form_row(edit_form.apellidoMaterno) }}
                    </div>
                    <div class="pure-control-group"> 
                        {{ form_label(edit_form.email, 'E-mail') }}
                        {{ form_row(edit_form.email) }}
                    </div>
                    <div class="pure-control-group"> 
                        {{ form_label(edit_form.telefono, 'Teléfono') }}
                        {{ form_row(edit_form.telefono) }}
                    </div>
            </fieldset>


            <div class="units-row">
                <div class="unit-push-50 unit-20">
                    {{ form_row(edit_form.submit, { 'attr': {'class': 'btn btn-blue'} }) }}

                {{ form_end(edit_form) }}
                </div>
                <div class="unit-push-60 unit-20">
                    {{ form_start(delete_form, { 'attr': {'class': 'pure-form pure-form-aligned'} }) }}
                        {{ form_row(delete_form.submit, { 'attr': {'class': 'btn btn-red'} }) }}
                    {{ form_end(delete_form) }}                    
                </div>    
            </div>


        </div>
    </div>
</div>
{% endblock %}

{% block lateral %}
<aside class="unit-20">
    <h5>Opciones</h5>
    <nav class="nav-v nav-stats">
        <ul>
            <li><a href="{{ path('alumnosproyectos') }}">Alumnos-Proyectos</a></li>
        </ul>
    </nav>
</aside>
{% endblock %}
