{% extends '::frontend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('sitio') }}">Inicio</a></li>
    <li class="unavailable">Alumnos</li>
{% endblock %}

{% block contenido %}
<h3> Alumnos pertenecientes al Departamento de Posgrado e Investigación </h3>



<ul class="small-block-grid-3 large-block-grid-7" align="center">
{% for entity in entities %}   
  
    <li>
    <div>
        {% if file_exists('bundles/alumnos/img/' ~ entity.id ~ '.png') %}
                    <img src="{{ asset('bundles/alumnos/img/' ~ entity.id ~ '.png') }}" alt=""  />      
                    {% else %}
                        {% if file_exists('bundles/alumnos/img/' ~ entity.id ~ '.jpg') %}
                        <img src="{{ asset('bundles/alumnos/img/' ~ entity.id ~ '.jpg') }}" alt=""  />      
                        {% else %}
                            <img src="{{ asset('bundles/alumnos/img/unknown-person.gif') }}" alt="" />  
                        {% endif %}                   
        {% endif %}
        
        <p><a href="#" data-reveal-id="modal{{ entity.id }}"> 
            {{ entity.apellidoPaterno ~ " " ~  entity.apellidoMaterno ~ " " ~  entity.nombre }} 
        </a></p>

        <div id="modal{{ entity.id }}" class="reveal-modal normal">
            <div class="large-3 columns">
        {% if file_exists('bundles/alumnos/img/' ~ entity.id ~ '.png') %}
                    <img src="{{ asset('bundles/alumnos/img/' ~ entity.id ~ '.png') }}" alt=""  />      
                    {% else %}
                        {% if file_exists('bundles/alumnos/img/' ~ entity.id ~ '.jpg') %}
                        <img src="{{ asset('bundles/alumnos/img/' ~ entity.id ~ '.jpg') }}" alt="" />      
                        {% else %}
                            <img src="{{ asset('bundles/alumnos/img/unknown-person.gif') }}" alt=""  />  
                        {% endif %}                   
        {% endif %}            </div>
            <div class="large-9 columns">
                <p class="lead">{{ entity.apellidoPaterno ~ " " ~  entity.apellidoMaterno ~ " " ~  entity.nombre }}</p>
                <a href="mailto:{{ entity.email }}" > {{ entity.email }} </a>
            </div>
            <a class="close-reveal-modal">&#215;</a>      
        </div>
    </li>

{% endfor %}
</ul>

{% endblock %}

{% block lateral %}
<aside class="unit-20">
    <h5>Opciones</h5>
    <nav class="nav-v nav-stats">
        <ul>
            <li><a href="{{ path('alumnosproyectos') }}">Alumnos-Proyectos</a></li>
        </ul>
    </nav>
</aside>
{% endblock %}
