{% extends '::backend.html.twig' %}

{% block body %}
<div class="unit-80">
    <div class="table-container">
        <table class="width-100 table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>No. de control</th>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Actualizar</th>
                    <th>Consultar</th>
                </tr>
            </thead>
            <tbody>
            {% for alumno in alumnos %}
                <tr>
                    <td><a href="{{ path('alumnos_show', { 'id': alumno.id }) }}">{{ alumno.id }}</a></td>
                    <td>{{ alumno.noControl }}</td>
                    <td>{{ alumno.nombre }}</td>
                    <td>{{ alumno.apellidoPaterno }}</td>
                    <td>{{ alumno.apellidoMaterno }}</td>
                    <td>
                        <a href="{{ path('alumnos_edit', { 'id': alumno.id }) }}" >
                            <center><img src="{{ asset('bundles/backend/img/cog.png') }}" alt="" /></center>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('alumnos_show', { 'id': alumno.id }) }}" >
                            <center><img src="{{ asset('bundles/backend/img/search.png') }}" alt="" /></center>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<a href="{{ path('alumnos_new') }}" class="btn btn-blue">Nuevo</a>
{% endblock %}

{% block lateral %}
<aside class="unit-20">
    <h5>Opciones</h5>
    <nav class="nav-v nav-stats">
        <ul>
            <li><a href="{{ path('alumnosproyectos') }}">Alumnos-Proyectos</a></li>
        </ul>
    </nav>
</aside>
{% endblock %}
