{% extends '::backend.html.twig' %}

{% block menu %}
    <li><a href="{{ path('noticias') }}">Noticias</a></li>
    <li><a href="{{ path('portada') }}">Portada</a></li>
    <li><span>Alumnos</span></li>
    <li><a href="{{ path('areas') }}">Áreas de inv.</a></li>
    <li><a href="{{ path('investigadores') }}">Investigadores</a></li>
    <li><a href="{{ path('lineas') }}">Líneas de inv.</a></li>
    <li><a href="{{ path('productosacademicos') }}">Prod. académicos</a></li>
    <li><a href="{{ path('posgrados') }}">Posgrados</a></li>
    <li><a href="{{ path('proyectos') }}">Proyectos</a></li>
{% endblock %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><span>Alumnos</span></li>
{% endblock %}

{% block contenido %}
<div class="unit-centered unit-80">
    <div class="table-container">
        <table class="width-100 table-striped">
            <thead>
                <tr>
                    <th>No. de control</th>
                    <th>Nombre(s)</th>
                    <th>Apellidos</th>
                    <th>Correo electrónico</th>
                </tr>
            </thead>
            <tbody>
            {% for alumno in alumnos %}
                <tr>
                    <td class="width-10 enlace">
                        <a href="{{ path('alumnos_edit', { 'id': alumno.id }) }}" >
                            {{ alumno.noControl }}
                        </a>
                    </td>
                    <td class="width-20 enlace">
                        <a href="{{ path('alumnos_edit', { 'id': alumno.id }) }}" >
                            {{ alumno.nombre }}
                        </a>
                    </td>
                    <td class="width-20 enlace">
                        <a href="{{ path('alumnos_edit', { 'id': alumno.id }) }}" >
                            {{ alumno.apellidoPaterno ~ " " ~ alumno.apellidoMaterno }}
                        </a>
                    </td>
                    <td class="width-10 enlace">
                        <a href="{{ path('alumnos_edit', { 'id': alumno.id }) }}" >
                            {{ alumno.email }}
                        </a>
                    </td>
                    <td class="width-10"> 
                        <a href="{{ path('alumnos_edit', { 'id': alumno.id }) }}" >
                            <img id="action" src="{{ asset('bundles/backend/img/editar.svg') }}" alt="Editar">
                        </a>
                    </td>
                    <td class="width-10">
                        <a href="{{ path('alumnos_delete', { 'id': alumno.id }) }}" >
                            <img id="action" src="{{ asset('bundles/backend/img/eliminar.svg') }}" alt="Eliminar">
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(alumnos) }}
    <a href="{{ path('alumnos_new') }}" class="btn btn-blue">Nuevo</a>
</div>
{% endblock %}
