{% extends '::backend.html.twig' %}

{% block body %}
<h3>Alumnos</h3>
<div class="table-container">
    <table class="width-60 table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>No. de control</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Email</th>
                <th>Teléfono</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('alumnos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.noControl }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.apellidoPaterno }}</td>
                <td>{{ entity.apellidoMaterno }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.telefono }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<a href="{{ path('alumnos_new') }}" class="small button">Nuevo</a>
{% endblock %}

{% block lateral %}
    <ul>
        <li><a href="{{ path('alumnosproyectos') }}">Alumnos y Proyectos</a></li>
    </ul>
{% endblock %}
