{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><span>Alumnos</span></li>
{% endblock %}

{% block contenido %}
<div class="unit-100">
    <div class="table-container">
        <table class="width-100 table-striped">
            <thead>
                <tr>
                    <th>No. de control</th>
                    <th>Nombre(s)</th>
                    <th>Apellido paterno</th>
                    <th>Apellido materno</th>
                    <th>Correo electrónico</th>
                    <th>Teléfono</th>
                </tr>
            </thead>
            <tbody>
            {% for alumno in alumnos %}
                <tr>
                    <td class="width-20 enlace">
                        <a href="{{ path('alumnos_edit', { 'id': alumno.id }) }}" >
                            {{ alumno.noControl }}
                        </a>
                    </td>
                    <td class="width-20 enlace">
                        <a href="{{ path('alumnos_edit', { 'id': alumno.id }) }}" >
                            {{ alumno.nombre }}
                        </a>
                    </td>
                    <td class="width-20 enlace">
                        <a href="{{ path('alumnos_edit', { 'id': alumno.id }) }}" >
                            {{ alumno.apellidoPaterno }}
                        </a>
                    </td>
                    <td class="width-20 enlace">
                        <a href="{{ path('alumnos_edit', { 'id': alumno.id }) }}" >
                            {{ alumno.apellidoMaterno }}
                        </a>
                    </td>
                    <td class="width-10 enlace">
                        <a href="{{ path('alumnos_edit', { 'id': alumno.id }) }}" >
                            {{ alumno.email }}
                        </a>
                    </td>
                    <td class="width-10 enlace">
                        <a href="{{ path('alumnos_edit', { 'id': alumno.id }) }}" >
                            {{ alumno.telefono }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(alumnos) }}
</div>
<a href="{{ path('alumnos_new') }}" class="btn btn-blue">Nuevo</a>
{% endblock %}