{% extends '::backend.html.twig' %}

{% block body %}
<div class="unit-80">
    <div class="units-row">
        <div class="unit-50">
            {% form_theme form '::fields.html.twig' %}
            <fieldset>
                <legend>Alumno</legend>
                
                {{ form_start(form, { 'attr': {'class': 'pure-form pure-form-aligned'} }) }}

                    <div class="pure-control-group">
                        {{ form_label(form.noControl, 'No. de control') }}
                        {{ form_row(form.noControl) }}
                    </div>
                    <div class="pure-control-group">    
                        {{ form_label(form.nombre, 'Nombre(s)') }}
                        {{ form_row(form.nombre) }}
                    </div>
                    <div class="pure-control-group"> 
                        {{ form_label(form.apellidoPaterno, 'Apellido paterno') }}
                        {{ form_row(form.apellidoPaterno) }}
                    </div>
                    <div class="pure-control-group"> 
                        {{ form_label(form.apellidoMaterno, 'Apellido materno') }}
                        {{ form_row(form.apellidoMaterno) }}
                    </div>
                    <div class="pure-control-group"> 
                        {{ form_label(form.email, 'E-mail') }}
                        {{ form_row(form.email) }}
                    </div>
                    <div class="pure-control-group"> 
                        {{ form_label(form.telefono, 'Teléfono') }}
                        {{ form_row(form.telefono) }}
                    </div>
            </fieldset>

            <div class="units-row">
                <div class="unit-push-80 unit-20">
                    {{ form_row(form.submit, { 'attr': {'class': 'btn btn-blue'} }) }}

                {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block lateral %}
<aside class="unit-20">
    <h5>Opciones</h5>
    <nav class="nav-v nav-stats">
        <ul>
            <li><a href="{{ path('alumnosproyectos') }}">Alumnos-Proyectos</a></li>
        </ul>
    </nav>
</aside>
{% endblock %}
