{% extends '::backend.html.twig' %}

{% block body %}
<div class="units-row">
    <div class="unit-40">
        {% form_theme form '::fields.html.twig' %}
        <fieldset>
            <legend>Alumnos</legend>
            {{ form_start(form) }}
                    {{ form_label(form.noControl, 'No. de control') }}
                    {{ form_row(form.noControl) }}
                    {{ form_label(form.nombre, 'Nombre(s)') }}
                    {{ form_row(form.nombre) }}
                    {{ form_label(form.apellidoPaterno, 'Apellido paterno') }}
                    {{ form_row(form.apellidoPaterno) }}
                    {{ form_label(form.apellidoMaterno, 'Apellido materno') }}
                    {{ form_row(form.apellidoMaterno) }}
                    {{ form_label(form.email, 'E-mail') }}
                    {{ form_row(form.email) }}
                    {{ form_label(form.telefono, 'Teléfono') }}
                    {{ form_row(form.telefono) }}
            {{ form_end(form, {'render_rest': false}) }}
        </fieldset>
    
        <ul class="record_actions">
            <li>
                <a href="{{ path('alumnos') }}">
                    Back to the list
                </a>
            </li>
        </ul>  
    </div>
</div>
{% endblock %}

{% block lateral %}
    <ul>
        <li><a href="{{ path('alumnosproyectos') }}">Alumnos y Proyectos</a></li>
    </ul>
{% endblock %}
