{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('alumnos') }}">Alumnos</a></li>
    <li><span>Consultar alumno</span></li>
{% endblock %}

{% block body %}
<div class="unit-100">
    <div class="table-container">
        <table class="unit-centered unit-50">
            <tbody>
                <tr>
                    <th>No. de control</th>
                    <td>{{ entity.noControl }}</td>
                </tr>
                <tr>
                    <th>Nombre(s)</th>
                    <td>{{ entity.nombre }}</td>
                </tr>
                <tr>
                    <th>Apellido paterno</th>
                    <td>{{ entity.apellidoPaterno }}</td> 
                </tr>
                <tr>
                    <th>Apellido materno</th>
                    <td>{{ entity.apellidoMaterno }}</td> 
                </tr>
                    <th>Correo electrónico</th>
                    <td>{{ entity.email }}</td>    
                <tr>
                    <th>Teléfono</th>           
                    <td>{{ entity.telefono }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="units-row">
            <a href="{{ path('alumnos_edit', { 'id': entity.id }) }}" class="btn btn-blue">Editar</a>
        </div>
    </div>
</div>
{% endblock %}