{% extends '::backend.html.twig' %}

{% block body %}
    <table class="table-bordered table-striped">
        <thead>
            <tr>
                <th>No. de control</th>
                <th>Nombre(s)</th>
                <th>Apellido paterno</th>
                <th>Apellido materno</th>
                <th>E-mail</th>
                <th>Teléfono</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ entity.noControl }}</td>
                <td>{{ entity.nombre }}</td>                
                <td>{{ entity.apellidoPaterno }}</td>                
                <td>{{ entity.apellidoMaterno }}</td>                
                <td>{{ entity.email }}</td>                
                <td>{{ entity.telefono }}</td>
            </tr>
        </tbody>
    </table>

<ul class="record_actions">
    <li>
        <a href="{{ path('alumnos') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('alumnos_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}

{% block lateral %}
    <ul>
        <li><a href="{{ path('alumnosproyectos') }}">Alumnos y Proyectos</a></li>
    </ul>
{% endblock %}
