{% extends '::backend.html.twig' %}

{% block body %}
<div class="unit-80">
    <div class="table-container">
        <table class="width-100 table-striped">
            <thead>
                <tr>
                    <th>No. de control</th>
                    <th>Nombre(s)</th>
                    <th>Apellido paterno</th>
                    <th>Apellido materno</th>
                    <th>Correo electrónico</th>
                    <th>Teléfono</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ entity.noControl }}</td>
                    <td>{{ entity.nombre }}</td>                
                    <td>{{ entity.apellidoPaterno }}</td>                
                    <td>{{ entity.apellidoMaterno }}</td>                
                    <td>{{ entity.email }}</td>                
                    <td>{{ entity.telefono }}</td>
                </tr>
            </tbody>
        </table>
    </div>
            
    <div class="units-row">
        <div class="unit-push-80 unit-20">
            <a href="{{ path('alumnos_edit', { 'id': entity.id }) }}" class="btn btn-blue">Editar</a>
        </div>
    </div>
</div>
{% endblock %}

{% block lateral %}
<aside class="unit-20">
    <h5>Enlaces</h5>
    <nav class="nav-v nav-stats">
        <ul>
            <li><a href="{{ path('alumnosproyectos') }}">Alumnos-Proyectos</a></li>
        </ul>
    </nav>
</aside>
{% endblock %}