{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('lineas') }}">Líneas de investigación</a></li>
    <li><span>Actualizar datos de la línea de investigación</span></li>
{% endblock %}

{% block body %}
<div class="unit-100">
    <div class="units-row">
        <div class="unit-centered unit-50">
            {% form_theme edit_form '::fields.html.twig' %}
            <fieldset>
                <legend>Línea de investigación</legend>
                
                {{ form_start(edit_form, { 'attr': {'class': 'pure-form pure-form-aligned'} }) }}

                    <div class="pure-control-group">
                        {{ form_label(edit_form.clave, 'Clave') }}
                        {{ form_row(edit_form.clave) }}
                    </div>
                    <div class="pure-control-group">    
                        {{ form_label(edit_form.nombre, 'Nombre') }}
                        {{ form_row(edit_form.nombre) }}
                    </div>
                    <div class="pure-control-group"> 
                        {{ form_label(edit_form.descripcion, 'Descripción') }}
                        {{ form_row(edit_form.descripcion) }}
                    </div>
            </fieldset>


            <div class="units-row">
                <div class="unit-push-80 unit-20">
                    {{ form_row(edit_form.submit, { 'attr': {'class': 'btn btn-blue'} }) }}

                {{ form_end(edit_form) }}
                </div>
                <div class="unit-push-30 unit-20">
                    {{ form_start(delete_form, { 'attr': {'class': 'pure-form pure-form-aligned'} }) }}
                        {{ form_row(delete_form.submit, { 'attr': {'class': 'btn btn-red'} }) }}
                    {{ form_end(delete_form) }}                    
                </div>    
            </div>

        </div>
    </div>
</div>
{% endblock %}