{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><span>Líneas de investigación</span></li>
{% endblock %}

{% block contenido %}
<div class="unit-100">
    <div class="table-container">
        <table class="width-100 table-striped">
            <thead>
                <tr>              
                    <th>Clave</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td class="width-10 enlace">
                        <a href="{{ path('lineas_edit', { 'id': entity.id }) }}" >
                            {{ entity.clave }}
                        </a>
                    </td>
                    <td class="width-30 enlace">
                        <a href="{{ path('lineas_edit', { 'id': entity.id }) }}" >
                            {{ entity.nombre }}
                        </a>
                    </td>
                    <td class="width-60 enlace">
                        <a href="{{ path('lineas_edit', { 'id': entity.id }) }}" >
                            {{ entity.descripcion }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<a href="{{ path('lineas_new') }}" class="btn btn-blue">Nuevo</a>
{% endblock %}
