{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('posgrados') }}">Posgrados</a></li>
    <li><span>Posgrado y Áreas de inv.</span></li>
{% endblock %}

{% block body %}
    <h1>PosgradoAreas list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('posgradoareas_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('posgradoareas_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('posgradoareas_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('posgradoareas_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
