{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('posgrados') }}">Posgrados</a></li>
    <li><a href="{{ path('posgradoareas') }}">Posgrado y Áreas de inv.</a></li>
    <li><span>Registro de un área de investigación en un posgrado</span></li>
{% endblock %}

{% block body -%}
    <h1>PosgradoAreas creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('posgradoareas') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
