{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><span>Noticias</span></li>
{% endblock %}

{% block contenido %}
<aside class="unit-25 unit-padding">
    <h6>Opciones</h6>
    <nav class="nav-v">
        <ul>
            <li><span>Registro de noticias</span></li>
            <li><a href="{{ path('portada') }}">Registro de contenido para la portada</a></li>
        </ul>
    </nav>
</aside>

<div class="unit-75">
    <div class="table-container">
        <table class="width-100 table-striped">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Contenido</th>
                    <th>Fecha de publicación</th>
                    <th>Documento</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td class="width-30 enlace">
                        <a href="{{ path('noticias_edit', { 'id': entity.id }) }}" >
                            {{ entity.titulo }}
                        </a>
                    </td>
                    <td class="width-20 enlace">
                        <a href="{{ path('noticias_edit', { 'id': entity.id }) }}" >
                            {{ entity.contenido }}
                        </a>
                    </td>
                    <td class="width-20 enlace">
                        <a href="{{ path('noticias_edit', { 'id': entity.id }) }}" >
                            {% if entity.fechaPublicacion %}
                                {{ entity.fechaPublicacion|date('Y-m-d') }}
                            {% endif %}
                        </a>
                    </td>
                    <td class="width-30 enlace">
                        <a href="{{ path('noticias_edit', { 'id': entity.id }) }}" >
                            {{ entity.rutaDocumento }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<a href="{{ path('noticias_new') }}" class="btn btn-blue">Nuevo</a>        
{% endblock %}
