{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('noticias') }}">Noticias</a></li>
    <li><span>Agregar una nueva noticia</span></li>
{% endblock %}

{% block contenido %}
<div class="unit-100">
    <div class="units-row">
        <div class="unit-centered unit-50">
            <fieldset>
                <legend>Noticias</legend>
                {{ form_start(form, { 'attr': {'enctype': 'multipart/form-data', 'class': 'forms forms-columnar'} }) }}
                    
                    <p>
                        {{ form_label(form.titulo, 'Título') }}
                        {{ form_widget(form.titulo, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                        
                    <p>
                        {{ form_label(form.contenido, 'Contenido') }}
                        {{ form_widget(form.contenido, { 'attr': {'class': 'width-100'} }) }}
                    </p>

                    <p>
                        {{ form_label(form.fechaPublicacion, 'Fecha de publicación') }}
                        {{ form_widget(form.fechaPublicacion, { 'attr': {'class': 'width-100'} }) }}
                    </p>

                    <p>
                        {{ form_label(form.documento, 'Documento') }}
                        {{ form_widget(form.documento, { 'attr': {'class': 'width-100'} }) }}
                        {{ form_errors(edit_form.documento) }}
                    </p>

                    <p>
                        {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-blue'} }) }}
                    </p>
                {{ form_end(form) }}
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}
