{% extends '::backend.html.twig' %}

{% block menu %}
    <li><a href="{{ path('noticias') }}">Noticias</a></li>
    <li><a href="{{ path('portada') }}">Portada</a></li>
    <li><a href="{{ path('alumnos') }}">Alumnos</a></li>
    <li><a href="{{ path('areas') }}">Áreas de inv.</a></li>
    <li><span>Investigadores</span></li>
    <li><a href="{{ path('lineas') }}">Líneas de inv.</a></li>
    <li><a href="{{ path('productosacademicos') }}">Prod. académicos</a></li>
    <li><a href="{{ path('posgrados') }}">Posgrados</a></li>
    <li><a href="{{ path('proyectos') }}">Proyectos</a></li>
{% endblock %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('investigadores') }}">Investigadores</a></li>
    <li><span>Actualizar datos del investigador</span></li>
{% endblock %}

{% block contenido %}
<div class="unit-100">
    <div class="units-row">
        <div class="unit-30">
            <fieldset>
                <legend>Foto</legend>
                <img id="foto" src="{{ asset('uploads/images/investigadores/') ~ entity.rutaFoto }}" />
            </fieldset>
            <aside class="unit-80">
                <nav class="nav-v">
                    <ul>
                        <li><a href="{{ path('investigadoreslineas_new') }}">Registrar en una línea de investigación</a></li>
                        <li><a href="{{ path('investigadoresproyectos_new') }}">Registrar en un proyecto</a></li>
                        <li><a href="{{ path('posgradoinvestigadores_new') }}">Registrar en un posgrado</a></li>
                    </ul>
                </nav>
            </aside>
        </div>
        <div class="units-centered unit-50">
            <fieldset>
                <legend>Investigador</legend>

                {{ form_start(form, { 'attr': {'enctype': 'multipart/form-data', 'class': 'forms forms-columnar'} }) }}
                    
                    
                    <p>
                        {{ form_label(form.nombre, 'Nombre(s) *') }}
                        {{ form_widget(form.nombre, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                    
                    <p>
                        {{ form_label(form.apellidoPaterno, 'Apellido Paterno *') }}
                        {{ form_widget(form.apellidoPaterno, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                        
                    <p>
                        {{ form_label(form.apellidoMaterno, 'Apellido Materno') }}
                        {{ form_widget(form.apellidoMaterno, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                        
                    <p>
                        {{ form_label(form.email, 'Correo electrónico *') }}
                        {{ form_widget(form.email, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                        
                    <p>
                        {{ form_label(form.telefono, 'Teléfono') }}
                        {{ form_widget(form.telefono, { 'attr': {'class': 'width-100'} }) }}
                    </p>    

                    <p>
                        {{ form_label(form.grado, 'Grado') }}
                        {{ form_widget(form.grado, { 'attr': {'class': 'width-100'} }) }}
                    </p>

                    <p>
                        {{ form_label(form.sni, 'SNI') }}
                        {{ form_widget(form.sni, { 'attr': {'class': 'width-100'} }) }}
                    </p>

                    <p>
                        {{ form_label(form.foto, 'Foto') }}
                        {{ form_widget(form.foto, { 'attr': {'class': 'width-100'} }) }}
                        {{ form_errors(form.foto) }}
                    </p>
                    
                    <p>
                        {{ form_rest(form) }}    
                    </p>
                {{ form_end(form) }}
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}