{% extends '::frontend.html.twig' %}

{% block contenido %}
<h3> Investigadores pertenecientes al Departamento de Posgrado e Investigación </h3>


<ul class="small-block-grid-3 large-block-grid-7" align="center">
{% for entity in entities %}   

    <li>
        {% if file_exists('bundles/investigadores/img/' ~ entity.investigadores.id ~ '.png') %}
                    <img src="{{ asset('bundles/investigadores/img/' ~ entity.id ~ '.png') }}" alt=""  />      
                    {% else %}
                        {% if file_exists('bundles/investigadores/img/' ~ entity.investigadores.id ~ '.jpg') %}
                        <img src="{{ asset('bundles/investigadores/img/' ~ entity.id ~ '.jpg') }}" alt=""  />      
                        {% else %}
                            <img src="{{ asset('bundles/investigadores/img/unknown-person.gif') }}" alt="" />  
                        {% endif %}                   
        {% endif %}
        
        <p><a href="#" data-reveal-id="modal{{ entity.investigadores.id }}"> 
            {{ entity.investigadores.apellidoPaterno ~ " " ~  entity.investigadores.apellidoMaterno ~ " " ~  entity.investigadores.nombre }} 
        </a></p>

        <div id="modal{{ entity.investigadores.id }}" class="reveal-modal normal">
            <div class="large-3 columns">
        {% if file_exists('bundles/investigadores/img/' ~ entity.investigadores.id ~ '.png') %}
                    <img src="{{ asset('bundles/investigadores/img/' ~ entity.id ~ '.png') }}" alt=""  />      
                    {% else %}
                        {% if file_exists('bundles/investigadores/img/' ~ entity.investigadores.id ~ '.jpg') %}
                        <img src="{{ asset('bundles/investigadores/img/' ~ entity.id ~ '.jpg') }}" alt="" />      
                        {% else %}
                            <img src="{{ asset('bundles/investigadores/img/unknown-person.gif') }}" alt=""  />  
                        {% endif %}                   
        {% endif %}
            </div>
            <div class="large-9 columns">
                <p class="lead">{{ entity.investigadores.apellidoPaterno ~ " " ~  entity.investigadores.apellidoMaterno ~ " " ~  entity.investigadores.nombre }}</p>
                <a href="mailto:{{ entity.investigadores.email }}" > {{ entity.investigadores.email }} </a>
            </div>
            <a class="close-reveal-modal">&#215;</a>      
        </div>


    </li>


{% endfor %}
</ul>
{% endblock%}

{% block lateral %}
<aside class="unit-20">
    <h5>Opciones</h5>
    <nav class="nav-v nav-stats">
        <ul>
            <li><a href="{{ path('investigadoresproyectos') }}">Alumnos-Proyectos</a></li>
        </ul>
    </nav>
</aside>
{% endblock %}
