{% extends '::frontend.html.twig' %}

{% block body %}
<h3> Investigadores pertenecientes al Departamento de Posgrado e Investigación </h3>



<ul class="small-block-grid-3 large-block-grid-7" align="center">
{% for entity in entities %}   

    <li>
        {% if file_exists('bundles/investigadores/img/' ~ entity.id ~ '.png') %}
                    <img src="{{ asset('bundles/investigadores/img/' ~ entity.id ~ '.png') }}" alt=""  />      
                    {% else %}
                        {% if file_exists('bundles/investigadores/img/' ~ entity.id ~ '.jpg') %}
                        <img src="{{ asset('bundles/investigadores/img/' ~ entity.id ~ '.jpg') }}" alt=""  />      
                        {% else %}
                            <img src="{{ asset('bundles/investigadores/img/unknown-person.gif') }}" alt="" />  
                        {% endif %}                   
        {% endif %}

        <p><a href="{{ path('investigadores_show_public', { 'id': entity.id }) }}" data-reveal-id="modal{{ entity.id }}"> 
            {{ entity.apellidoPaterno ~ " " ~  entity.apellidoMaterno ~ " " ~  entity.nombre }} 
        </a></p>

        <p><a href="#" data-reveal-id="modal" data-reveal-ajax="{{ path('investigadores_show_public', { 'id': entity.id }) }}" data-reveal-ajax="true"> 
            Abre modal
        </a></p>
        {% block modal %}
        {#% render "InvestigadoresBundle:Investigadores:show", array('id' => entity.id )    %#}
        {% include "InvestigadoresBundle:Investigadores:show_public.html.twig" with { entity: entity } %}
        {% endblock %}
        


    </li>
{% endfor %}
</ul>
{% for key, entity in entitiesLineas %} 
 <li>{{ key }}: {{ entity.investigadores.nombre|e }}</li>
{% endfor %}

{% endblock %}

{% block lateral %}
<aside class="unit-20">
    <h5>Opciones</h5>
    <nav class="nav-v nav-stats">
        <ul>
            <li><a href="{{ path('investigadoresproyectos') }}">Alumnos-Proyectos</a></li>
        </ul>
    </nav>
</aside>
{% endblock %}
