{% extends '::backend.html.twig' %}

{% block body %}
<div class="unit-80">
    <h3>Investigadores</h3>

    <div class="table-container">
        <table class="width-100 table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellidopaterno</th>
                    <th>Apellidomaterno</th>
                    <th>Actualizar</th>
                    <th>Consultar</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('investigadores_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.nombre }}</td>
                    <td>{{ entity.apellidoPaterno }}</td>
                    <td>{{ entity.apellidoMaterno }}</td>
                    <td>
                        <a href="{{ path('investigadores_edit', { 'id': entity.id }) }}">
                            <center><img src="{{ asset('bundles/backend/img/cog.png') }}" alt="" /></center>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('investigadores_show', { 'id': entity.id }) }}">
                            <center><img src="{{ asset('bundles/backend/img/search.png') }}" alt="" /></center>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<a href="{{ path('investigadores_new') }}" class="btn btn-blue">Nuevo</a>
{% endblock %}

{% block lateral %}
<aside class="unit-20">
    <h5>Enlaces</h5>
    <nav class="nav-v nav-stats">
        <ul>
            <li><a href="{{ path('investigadorproyecto') }}">Investigadores-Proyectos</a></li>
        </ul>
    </nav>
</aside>
{% endblock %}