{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><span>Investigadores</span></li>
{% endblock %}

{% block contenido %}
<aside class="unit-25 unit-padding">
    <h6>Opciones</h6>
    <nav class="nav-v">
        <ul>
            <li><a href="{{ path('investigadoreslineas') }}">Registrar en una línea de investigación</a></li>
        </ul>
    </nav>
</aside>

<div class="unit-75">
    <div class="table-container">
        <table class="width-100 table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido paterno</th>
                    <th>Apellido materno</th>
                    <th>Correo electrónico</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td class="width-20 enlace">
                        <a href="{{ path('investigadores_edit', { 'id': entity.id }) }}" >
                            {{ entity.nombre }}
                        </a>
                    </td>
                    <td class="width-20 enlace">
                        <a href="{{ path('investigadores_edit', { 'id': entity.id }) }}" >
                            {{ entity.apellidoPaterno }}
                        </a>
                    </td>
                    <td class="width-20 enlace">
                        <a href="{{ path('investigadores_edit', { 'id': entity.id }) }}" >
                            {{ entity.apellidoMaterno }}
                        </a>
                    </td>
                    <td class="width-20 enlace">
                        <a href="{{ path('investigadores_edit', { 'id': entity.id }) }}" >
                            {{ entity.email }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<a href="{{ path('investigadores_new') }}" class="btn btn-blue">Nuevo</a>
{% endblock %}