
{% block modal %}
Modal
<div id="modal{{ entity.id }}" class="reveal-modal normal">
        
<div class="large-3 columns">
        {% if file_exists('bundles/investigadores/img/' ~ entity.id ~ '.png') %}
                    <img src="{{ asset('bundles/investigadores/img/' ~ entity.id ~ '.png') }}" alt=""  />      
                    {% else %}
                        {% if file_exists('bundles/investigadores/img/' ~ entity.id ~ '.jpg') %}
                        <img src="{{ asset('bundles/investigadores/img/' ~ entity.id ~ '.jpg') }}" alt="" />      
                        {% else %}
                            <img src="{{ asset('bundles/investigadores/img/unknown-person.gif') }}" alt=""  />  
                        {% endif %}                   
        {% endif %}
</div>
<div class="large-9 columns">
    <p class="lead">{{ entity.apellidoPaterno ~ " " ~  entity.apellidoMaterno ~ " " ~  entity.nombre }}</p>
        <a href="mailto:{{ entity.email }}" > {{ entity.email }} </a>
</div>
<a class="close-reveal-modal">&#215;</a>  
</div>
{% endblock %}
