{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_registration_register'), 'method': 'POST', 'attr': {'enctype': 'multipart/form-data', 'class': 'forms forms-inline'} }) }}
	<div class="units-row">
	   		<div class="unit-30">
	   			{{ form_label(form.email) }}
	   		</div>
	   		<div class="unit-70">
    			{{ form_widget(form.email, { 'attr': {'class': 'width-100'} }) }}
    		</div>
    </div>
 
    <div class="units-row">
	   		<div class="unit-50">
	   			{{ form_label(form.username) }}
	   		</div>
	   		<div class="unit-50">
    			{{ form_widget(form.username, { 'attr': {'class': 'width-100'} }) }}
    		</div>
    </div>
    
    {% for passwordField in form.plainPassword %}
		<div class="units-row">
		   		<div class="unit-50">
		   			{{ form_label(passwordField) }}
		   		</div>
		   		<div class="unit-50">
	    			{{ form_widget(passwordField, { 'attr': {'class': 'width-100'} }) }}
	    		</div>
	    </div>
    {% endfor %}

    <div class="units-row">
	   		<div class="unit-50">
	   			{{ form_label(form.roles) }}
	   		</div>
	   		<div class="unit-50">
    			{{ form_widget(form.roles, { 'attr': {'class': 'width-100'} }) }}
    		</div>
    </div>

    <div class="units-row">
	   		<div class="unit-push-60 unit-40">
    			<input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-orange" />
    		</div>
    </div>
{{ form_end(form) }}