{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('proyectos') }}">Proyectos</a></li>
    <li><a href="{{ path('proyectosproductos') }}">Alumnos y Proyectos</a></li>
    <li><span>Actualizar datos de alumnos y proyectos</span></li>
{% endblock %}

{% block body %}
<div class="unit-100">
    <div class="units-row">
        <div class="unit-centered unit-50">
            <fieldset>
                <legend>Alumnos y Proyectos</legend>
                {{ form_start(edit_form, { 'attr': {'class': 'forms forms-columnar'} }) }}
                    
                    <p>
                        {{ form_label(edit_form.cantidad, 'Cantidad') }}
                        {{ form_widget(edit_form.cantidad, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                        
                    
                    <p>
                        {{ form_label(edit_form.fechaCumplimiento, 'Fecha de cumplimiento') }}
                        {{ form_widget(edit_form.fechaCumplimiento, { 'attr': {'class': 'width-100'} }) }}
                    </p>

                    <p>
                        {{ form_label(edit_form.observaciones, 'Observaciones') }}
                        {{ form_widget(edit_form.observaciones, { 'attr': {'class': 'width-100'} }) }}
                    </p>

                    <p>
                        {{ form_label(edit_form.proyecto, 'Proyecto') }}
                        {{ form_widget(edit_form.proyecto, { 'attr': {'class': 'width-100'} }) }}
                    </p>

                    <p>
                        {{ form_label(edit_form.productoAcademico, 'Producto académico') }}
                        {{ form_widget(edit_form.productoAcademico, { 'attr': {'class': 'width-100'} }) }}
                    </p>

                    <p>
                         {{ form_widget(edit_form.submit, { 'attr': {'class': 'btn btn-blue'} }) }}
                    {{ form_end(edit_form) }}
                    </p>

                    <p>
                        {{ form_start(delete_form) }}
                            {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-red'} }) }}
                        {{ form_end(delete_form) }}
                    </p>

            </fieldset>
        </div>
    </div>
</div>
{% endblock %}
