{% extends '::backend.html.twig' %}

{% block menu %}
    <li><a href="{{ path('noticias') }}">Noticias</a></li>
    <li><a href="{{ path('portada') }}">Portada</a></li>
    <li><a href="{{ path('alumnos') }}">Alumnos</a></li>
    <li><a href="{{ path('areas') }}">Áreas de inv.</a></li>
    <li><a href="{{ path('investigadores') }}">Investigadores</a></li>
    <li><a href="{{ path('lineas') }}">Líneas de inv.</a></li>
    <li><a href="{{ path('productosacademicos') }}">Prod. académicos</a></li>
    <li><a href="{{ path('posgrados') }}">Posgrados</a></li>
    <li><span>Proyectos</span></li>
{% endblock %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('proyectos') }}">Proyectos</a></li>
    <li><a href="{{ path('proyectosproductos') }}">Proyectos y prod. académicos</a></li>
    <li><span>Actualizar datos de proyectos y prod. académicos</span></li>
{% endblock %}

{% block contenido %}
<div class="unit-100">
    <div class="units-row">
        <div class="unit-centered unit-50">
            <fieldset>
                <legend>Proyectos y Prod. académicos</legend>
                {{ form_start(form, { 'attr': {'class': 'forms forms-columnar'} }) }}
                    
                    <p>
                        {{ form_label(form.proyecto, 'Proyecto *') }}
                        {{ form_widget(form.proyecto, { 'attr': {'class': 'width-100'} }) }}
                    </p>

                    <p>
                        {{ form_label(form.productoAcademico, 'Producto académico *') }}
                        {{ form_widget(form.productoAcademico, { 'attr': {'class': 'width-100'} }) }}
                    </p>

                    <p>
                        {{ form_label(form.cantidad, 'Cantidad') }}
                        {{ form_widget(form.cantidad, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                        
                    
                    <p>
                        {{ form_label(form.fechaCumplimiento, 'Fecha de cumplimiento') }}
                        {{ form_widget(form.fechaCumplimiento, { 'attr': {'class': 'width-100'} }) }}
                    </p>

                    <p>
                        {{ form_label(form.observaciones, 'Observaciones') }}
                        {{ form_widget(form.observaciones, { 'attr': {'class': 'width-100'} }) }}
                    </p>

                    <p>
                        {{ form_rest(form) }}    
                    </p>
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}
