{% extends '::backend.html.twig' %}

{% block body %}
<div class="unit-100">
    <h1>ProyectosProductos list</h1>

    <div class="table-container">
        <table class="table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Proyecto</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Fechacumplimiento</th>
                    <th>Observaciones</th>
                    <th>Actualizar</th>
                    <th>Consultar</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('proyectosproductos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.proyecto.nombreCorto }}</td>
                    <td>{{ entity.productoAcademico.meta }}</td>
                    <td>{{ entity.cantidad }}</td>
                    <td>{% if entity.fechaCumplimiento %}{{ entity.fechaCumplimiento|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ entity.observaciones }}</td>
                    <td>
                        <a href="{{ path('proyectosproductos_edit', { 'id': entity.id }) }}">
                            <center><img src="{{ asset('bundles/backend/img/cog.png') }}" alt="" /></center>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('proyectosproductos_show', { 'id': entity.id }) }}">
                            <center><img src="{{ asset('bundles/backend/img/search.png') }}" alt="" /></center>
                        </a>
                    </td>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<a href="{{ path('proyectosproductos_new') }}" class="btn btn-blue">Nuevo</a>
{% endblock %}