{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('proyectos') }}">Proyectos</a></li>
    <li><span>Proyectos y Prod. académicos</span></li>
{% endblock %}

{% block body %}
<aside class="unit-25 unit-padding">
    <h6>Opciones</h6>
    <nav class="nav-v">
        <ul>
            <li><a href="{{ path('alumnosproyectos') }}">Registro de alumnos</a></li>
            <li><a href="{{ path('investigadorproyecto') }}">Registro de investigadores</a></li>
            <li><span>Registro de productos académicos</span></li>
            <li><a href="{{ path('areasproyectos') }}">Registrar área de investigación</a></li>
        </ul>
    </nav>
</aside>

<div class="unit-75">
    <div class="table-container">
        <table class="width-100 table-striped">
            <thead>
                <tr>
                    <th>Proyecto</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Fecha de cumplimiento</th>
                    <th>Observaciones</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td class="enlace" >
                        <a href="{{ path('proyectosproductos_edit', { 'id': entity.id }) }}">
                            {{ entity.proyecto.nombreCorto }}
                        </a>
                    </td>
                    <td class="enlace" >
                        <a href="{{ path('proyectosproductos_edit', { 'id': entity.id }) }}">
                            {{ entity.productoAcademico.meta }}
                        </a>
                    </td>
                    <td class="enlace" >
                        <a href="{{ path('proyectosproductos_edit', { 'id': entity.id }) }}">
                            {{ entity.cantidad }}
                        </a>
                    </td>
                    <td class="enlace" >
                        <a href="{{ path('proyectosproductos_edit', { 'id': entity.id }) }}">
                            {% if entity.fechaCumplimiento %}{{ entity.fechaCumplimiento|date('Y-m-d') }}{% endif %}
                        </a>
                    </td>
                    <td class="enlace" >
                        <a href="{{ path('proyectosproductos_edit', { 'id': entity.id }) }}">
                            {{ entity.observaciones }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<a href="{{ path('proyectosproductos_new') }}" class="btn btn-blue">Nuevo</a>
{% endblock %}