{% extends '::backend.html.twig' %}

{% block menu %}
    <li><a href="{{ path('noticias') }}">Noticias</a></li>
    <li><a href="{{ path('portada') }}">Portada</a></li>
    <li><a href="{{ path('alumnos') }}">Alumnos</a></li>
    <li><a href="{{ path('areas') }}">Áreas de inv.</a></li>
    <li><a href="{{ path('investigadores') }}">Investigadores</a></li>
    <li><a href="{{ path('lineas') }}">Líneas de inv.</a></li>
    <li><a href="{{ path('productosacademicos') }}">Prod. académicos</a></li>
    <li><span>Posgrados</span></li>
    <li><a href="{{ path('proyectos') }}">Proyectos</a></li>
{% endblock %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('posgrados') }}">Posgrados</a></li>
    <li><span>Actualizar datos de un área de posgrado</span></li>
{% endblock %}

{% block contenido %}
<div class="unit-100">
    <div class="units-row">
        <div class="unit-30">
            <aside class="unit-80">
                <nav class="nav-v">
                    <ul>
                        <li><a href="{{ path('posgradoalumnos_new') }}">Registro de alumnos</a></li>
                        <li><a href="{{ path('posgradoinvestigadores_new') }}">Registro de investigadores</a></li>
                        <li><a href="{{ path('posgradoareas_new') }}">Registrar área de investigación</a></li>
                        <li><a href="{{ path('posgradolineas_new') }}">Registrar linea de investigación</a></li>
                    </ul>
                </nav>
            </aside>
        </div>
        <div class="unit-centered unit-50">
            <fieldset>
                <legend>Área de posgrado</legend>
                {{ form_start(form, { 'attr': {'class': 'forms forms-columnar'} }) }}
                    
                    <p>
                        {{ form_label(form.nombre, 'Nombre *') }}
                        {{ form_widget(form.nombre, { 'attr': {'class': 'width-100'} }) }}
                    </p>

                    <p>
                        {{ form_label(form.objetivoGeneral, 'Objetivo general') }}
                        {{ form_widget(form.objetivoGeneral, { 'attr': {'class': 'width-100'} }) }}
                    </p>

                    <p>
                        {{ form_label(form.clave, 'Clave') }}
                        {{ form_widget(form.clave, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                    
                    <p>
                        {{ form_rest(form) }}    
                    </p>
                {{ form_end(form) }}
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}
