{% extends '::backend.html.twig' %}

{% block menu %}
    <li><a href="{{ path('noticias') }}">Noticias</a></li>
    <li><a href="{{ path('portada') }}">Portada</a></li>
    <li><a href="{{ path('alumnos') }}">Alumnos</a></li>
    <li><a href="{{ path('areas') }}">Áreas de inv.</a></li>
    <li><a href="{{ path('investigadores') }}">Investigadores</a></li>
    <li><a href="{{ path('lineas') }}">Líneas de inv.</a></li>
    <li><a href="{{ path('productosacademicos') }}">Prod. académicos</a></li>
    <li><a href="{{ path('posgrados') }}">Posgrados</a></li>
    <li><span>Proyectos</span></li>
{% endblock %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('proyectos') }}">Proyectos</a></li>
    <li><a href="{{ path('alumnosproyectos') }}">Alumnos y Proyectos</a></li>
    <li><span>Actualización de datos de alumno en un proyecto</span></li>
{% endblock %}

{% block contenido %}
<div class="unit-100">
    <div class="units-row">
        <div class="unit-centered unit-50">
            <fieldset>
                <legend>Alumnos y Proyectos</legend>
                {{ form_start(form, { 'attr': {'class': 'forms forms-columnar'} }) }}
                    
                    <p>
                        {{ form_label(form.proyecto, 'Proyecto *') }}
                        {{ form_widget(form.proyecto, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                    
                    <p>
                        {{ form_label(form.alumno, 'No. de Control *') }}
                        {{ form_widget(form.alumno, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                    
                    <p>
                        {{ form_rest(form) }}    
                    </p>
                {{ form_end(form) }}
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}