{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('proyectos') }}">Proyectos</a></li>
    <li><span>Alumnos y Proyectos</span></li>
{% endblock %}

{% block body %}
<aside class="unit-25 unit-padding">
    <h6>Opciones</h6>
    <nav class="nav-v">
        <ul>
            <li><span>Registro de alumnos</span></li>
            <li><a href="{{ path('investigadorproyecto') }}">Registro de investigadores</a></li>
            <li><a href="{{ path('proyectosproductos') }}">Registro de productos académicos</a></li>
            <li><a href="{{ path('areasproyectos') }}">Registrar área de investigación</a></li>
        </ul>
    </nav>
</aside>

<div class="unit-75">
    <div class="table-container">
        <table class="width-100 table-striped">
            <thead>
                <tr>
                    <th class="width-20">No Control</th>
                    <th class="width-40">Alumno</th>
                    <th class="width-40">Proyecto</th>
                </tr>
            </thead>
            <tbody>

            {% for entity in alumnosenproyectos %}
                <tr>
                     <td class="enlace">
                        <a href="{{ path('alumnosproyectos_edit', { 'id': entity.id }) }}">
                            {{ entity.idAlumno.noControl }}
                        </a>
                    </td>
                    <td class="enlace">
                        <a href="{{ path('alumnosproyectos_edit', { 'id': entity.id }) }}">
                            {{ entity.idAlumno.nombre ~ " " ~ entity.idAlumno.apellidoPaterno  ~ " " ~ entity.idAlumno.apellidoMaterno }}
                        </a>
                    </td>
                    <td class="enlace">
                        <a href="{{ path('alumnosproyectos_edit', { 'id': entity.id }) }}">
                            {{ entity.idProyecto.nombreCorto }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<a href="{{ path('alumnosproyectos_new') }}" class="btn btn-blue">Nuevo</a>
{% endblock %}