{% extends '::backend.html.twig' %}

{% block body %}
<h1>AlumnosProyectos</h1>
<div class="table-container">
    <table class="width-60 table-striped">
        <thead>
            <tr>
                <th class="width-20">No Control</th>
                <th class="width-40">Alumno</th>
                <th class="width-40">Proyecto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ alumnosenproyectos.idAlumno.noControl }}</td>
                <td>{{ alumnosenproyectos.idAlumno.nombre ~ " " ~ alumnosenproyectos.idAlumno.apellidoPaterno  ~ " " ~ alumnosenproyectos.idAlumno.apellidoMaterno }}</td>
                <td>{{ alumnosenproyectos.idProyecto.nombreCompleto }}</td>
            </tr>
        </tbody>
    </table>
</div>

<ul class="record_actions">
    <li>
        <a href="{{ path('alumnosproyectos') }}">Back to the list</a>
    </li>
    <li>
        <a href="{{ path('alumnosproyectos_edit', { 'id': alumnosenproyectos.id }) }}">Edit</a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}

{% block lateral %}
    <ul>
        <li><a href="{{ path('alumnos') }}">Alumnos</a></li>
        <li><a href="{{ path('proyectos') }}">Proyectos</a></li>
    </ul>
{% endblock %}
