{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('proyectos') }}">Proyectos</a></li>
    <li><a href="{{ path('investigadorproyecto') }}">Investigadores y Proyectos</a></li>
    <li><span>Actualizar datos de investigadores en un proyecto</span></li>
{% endblock %}

{% block contenido %}
<div class="unit-100">
    <div class="units-row">
        <div class="unit-centered unit-50">
            <fieldset>
                <legend>Áreas de investigación y Proyectos</legend>
                {{ form_start(edit_form, { 'attr': {'class': 'forms forms-columnar'} }) }}
                    
                    <p>
                        {{ form_label(edit_form.proyecto, 'Proyecto *') }}
                        {{ form_widget(edit_form.proyecto, { 'attr': {'class': 'width-100'} }) }}
                    </p>  
                    
                    <p>
                        {{ form_label(edit_form.investigadores, 'Investigador *') }}
                        {{ form_widget(edit_form.investigadores, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                        
                    <p>
                         {{ form_widget(edit_form.submit, { 'attr': {'class': 'btn btn-blue'} }) }}
                    {{ form_end(edit_form) }}
                    </p>
            </fieldset>
        </div>
    </div>
</div>
<button class="btn btn-red">ELIMINAR</button>
{% endblock %}