{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('proyectos') }}">Proyectos</a></li>
    <li><span>Investigadores y Proyectos</span></li>
{% endblock %}

{% block contenido %}
<aside class="unit-25 unit-padding">
    <h6>Opciones</h6>
    <nav class="nav-v">
        <ul>
            <li><a href="{{ path('alumnosproyectos') }}">Registro de alumnos</a></li>
            <li><span>Registro de investigadores</span></li>
            <li><a href="{{ path('proyectosproductos') }}">Registro de productos académicos</a></li>
            <li><a href="{{ path('areasproyectos') }}">Registrar área de investigación</a></li>
        </ul>
    </nav>
</aside>

<div class="unit-75">
    <div class="table-container">
        <table class="width-100 table-striped">
            <thead>
                <tr>
                    <th>Investigador</th>
                    <th>Proyecto</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td class="enlace width-40">
                        <a href="{{ path('investigadorproyecto_edit', { 'id': entity.id }) }}" >
                            {{ entity.nombre  ~ " " ~  entity.apellidoPaterno ~ " " ~  entity.apellidoMaterno }}
                        </a>
                    </td>
                    <td class="enlace width-40">
                        <a href="{{ path('investigadorproyecto_edit', { 'id': entity.id }) }}" >
                            {{ entity.nombreCorto }}
                        </a>
                    </td>
                    <td class="width-10"> 
                        <a href="{{ path('investigadorproyecto_edit', { 'id': entity.id }) }}" >
                            <img id="action" src="{{ asset('bundles/backend/img/editar.svg') }}" alt="Editar">
                        </a>
                    </td>
                    <td class="width-10">
                        <a href="{{ path('investigadorproyecto_delete', { 'id': entity.id }) }}" >
                            <img id="action" src="{{ asset('bundles/backend/img/eliminar.svg') }}" alt="Eliminar">
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(entities) }}
</div>
<a href="{{ path('investigadorproyecto_new') }}" class="btn btn-blue">Nuevo</a>
{% endblock %}
