{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('proyectos') }}">Proyectos</a></li>
    <li><a href="{{ path('investigadorproyecto') }}">Investigadores y Proyectos</a></li>
    <li><span>Registro de investigador en un proyecto</span></li>
{% endblock %}

{% block body %}
<div class="unit-100">
    <div class="units-row">
        <div class="unit-centered unit-50">
            {% form_theme form '::fields.html.twig' %}
            <fieldset>
                <legend>Investigadores y Proyectos</legend>
                {{ form_start(form, { 'attr': {'class': 'forms forms-columnar'} }) }}
                    
                    <p>
                        {{ form_label(form.investigadores, 'Investigador') }}
                        {{ form_widget(form.investigadores, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                        
                    
                    <p>
                        {{ form_label(form.proyectos, 'Proyecto') }}
                        {{ form_widget(form.proyectos, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                    
                    <p>
                        {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-blue'} }) }}
                    </p>

                {{ form_end(form) }}
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}