{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('portada') }}">Portada</a></li>
    <li><span>Actualizar una nueva imagen para el banner</span></li>
{% endblock %}

{% block contenido %}
<div class="unit-100">
    <div class="units-row">
        <div class="unit-centered unit-50">
            <fieldset>
                <legend>Portada</legend>
                {{ form_start(form, { 'attr': {'enctype': 'multipart/form-data', 'class': 'forms forms-columnar'} }) }}

                    <p>
                        {{ form_label(form.titulo, 'Titulo') }}
                        {{ form_widget(form.titulo, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                                 
                    <p>
                        {{ form_label(form.foto, 'Imagen del banner *') }}
                        {{ entity.imagenBanner }}
                        {{ form_widget(form.foto, { 'attr': {'class': 'width-100'} }) }}
                        {{ form_errors(form.foto) }}
                    </p>

                    <p>
                        {{ form_label(form.fechaPublicacion, 'Fecha de publicación *') }}
                        {{ form_widget(form.fechaPublicacion, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                        
                    <p>
                        {{ form_rest(form) }}    
                    </p>
                {{ form_end(form) }}
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}
