{% extends '::backend.html.twig' %}

{% block menu %}
    <li><a href="{{ path('noticias') }}">Noticias</a></li>
    <li><span>Portada</span></li>
    <li><a href="{{ path('alumnos') }}">Alumnos</a></li>
    <li><a href="{{ path('areas') }}">Áreas de inv.</a></li>
    <li><a href="{{ path('investigadores') }}">Investigadores</a></li>
    <li><a href="{{ path('lineas') }}">Líneas de inv.</a></li>
    <li><a href="{{ path('productosacademicos') }}">Prod. académicos</a></li>
    <li><a href="{{ path('posgrados') }}">Posgrados</a></li>
    <li><a href="{{ path('proyectos') }}">Proyectos</a></li>
{% endblock %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('portada') }}">Portada</a></li>
    <li><span>Agregar una imagen al banner</span></li>
{% endblock %}

{% block contenido %}
<div class="unit-100">
    <div class="units-row">
        <div class="unit-centered unit-50">
            <fieldset>
                <legend>Portada</legend>
                {{ form_start(form, { 'action': path('portada_new'), 'method': 'POST', 'attr': {'enctype': 'multipart/form-data', 'class': 'forms forms-columnar'} }) }}                      
                    <p>
                        {{ form_label(form.titulo, 'Titulo') }}
                        {{ form_widget(form.titulo, { 'attr': {'class': 'width-100'} }) }}
                    </p>

                    <p>
                        {{ form_label(form.foto, 'Imagen del banner *') }}
                        {{ form_widget(form.foto, { 'attr': {'class': 'width-100'} }) }}
                        {{ form_errors(form.foto) }}
                    </p>

                    <p>
                        {{ form_label(form.fechaPublicacion, 'Fecha de publicación *') }}
                        {{ form_widget(form.fechaPublicacion, { 'attr': {'class': 'width-100'} }) }}
                    </p>

                    <p>
                        {{ form_rest(form) }}
                {{ form_end(form) }}
                    </p>
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}