{% extends '::frontend.html.twig' %}

{% block contenido %}
<article class="large-3 columns">
	<div class="row">
		<header id="title"  class="large-12 columns">
			Noticias
		</header>
		<canvas id="myCanvas"  class="large-12 columns"></canvas>
	</div>
	{% for noticia in noticias %}
	<section class="row">
		<div id="now" class="small-2 large-3 columns">
			{{ noticia.fechaPublicacion|date('d M') }}
		</div>
		<article id="news" class="small-10 large-9 columns">
			<a class="enlace" href="#" data-reveal-id="{{ noticia.id }}">{{ noticia.titulo }}</a>
			<section id="{{ noticia.id }}" class="small reveal-modal">
			  	<header>
			  		<h2>{{ noticia.titulo }}</h2>
			  	</header>	
			  	<p>
			  	{{ noticia.contenido }}
			  	<br>
			  	{% if noticia.rutaDocumento %}
            		<a href="{{ asset( directorio_documentos ~ noticia.rutaDocumento ) }}">	
            			Decargar formato
            		</a>
            	{% endif %}
        		</p>
			 	<a class="close-reveal-modal">&#215;</a>
			</section>
		</article>
	</section>
	{% endfor %}
</article>    
<div id="depi" class="large-9 columns">
	<article class="row">
		<section class="small-10 small-centered large-10 large-centered columns">
			<p>
			<u><b>La Maestría en Ingeniería Electrónica</b></u>, cuenta con dos líneas de trabajo, <b>Computación Ubicua</b> y <b>Procesamiento digital de señales</b>, estas tiene un gran espectro reticular, permitiendo al alumno y a su asesor mucha flexibilidad en cuanto a la elección de materias, de acuerdo a su perfil de licenciatura y de sus intereses profesionales
			</p>
		</section>
	</article>
</div>	
{% endblock %}
