{% extends '::base.html.twig' %}

{% block title %}Administraci贸n{% endblock %}
        
{% block stylesheets %}
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Convergence|Amaranth' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
  <link href="{{ asset('bundles/backend/css/kube.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ asset('bundles/backend/css/master.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
<div class="unit-100">
    <div class="units-row">
        <div class="units unit-50">
            <img src="{{ asset('bundles/portada/img/header.png') }}"/>
        </div>
        <div class="units unit-50">
          <div class="titulo">Divisi贸n de estudios de</div>
          <div class="subtitulo">Posgrado e Investigaci贸n</div>
      </div>
    </div>
    <div class="units-row">
        <div class="unit-centered unit-50">
            <fieldset>
                    <form action="{{ path('posgradmin_login_check') }}" method="post" class="forms forms-columnar">
                        <p>
                            <label for="username">Username:</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" />
                        </p>
                        
                        <p>
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="_password" /> 
                            <input type="hidden" name="_target_path" value="/posgradmin" />
                        </p>
    
                        <p>
                            <button type="submit" class="btn btn-orange">Entrar</button>
                        </p>
                    </form>
                    <p>
                        {% if error %}
                            <div>{{ error.message }}</div>
                        {% endif %}
                    </p>
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    <footer id="footer">&copy; Instituto Tecnol贸gico de Mexicali.</footer>
{% endblock %}