{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('proyectos') }}">Proyectos</a></li>
    <li><a href="{{ path('areasproyectos') }}">Áreas de investigación</a></li>
    <li><span>Actualizar área de investigación del proyecto</span></li>
{% endblock %}

{% block body %}
<div class="unit-100">
    <div class="units-row">
        <div class="unit-centered unit-50">
            <fieldset>
                <legend>Áreas de investigación y Proyectos</legend>
                {{ form_start(edit_form, { 'attr': {'class': 'forms forms-columnar'} }) }}
                          
                    <p>
                        {{ form_label(edit_form.proyecto, 'Proyecto') }}
                        {{ form_widget(edit_form.proyecto, { 'attr': {'class': 'width-100'} }) }}
                    </p>                    

                    <p>
                        {{ form_label(edit_form.area, 'Área de investigación') }}
                        {{ form_widget(edit_form.area, { 'attr': {'class': 'width-100'} }) }}
                    </p>

                    <p>
                        {{ form_label(edit_form.posgrado, 'Área de posgrado') }}
                        {{ form_widget(edit_form.posgrado, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                    
                    <p>
                         {{ form_widget(edit_form.submit, { 'attr': {'class': 'btn btn-blue'} }) }}
                    {{ form_end(edit_form) }}
                    </p>

                    <p>
                        {{ form_start(delete_form) }}
                            {{ form_widget(delete_form.submit, { 'attr': {'class': 'btn btn-red'} }) }}
                        {{ form_end(delete_form) }}
                    </p>
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}