{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('proyectos') }}">Proyectos</a></li>
    <li><a href="{{ path('areasproyectos') }}">Áreas de investigación</a></li>
    <li><span>Actualizar área de investigación del proyecto</span></li>
{% endblock %}

{% block contenido %}
<div class="unit-100">
    <div class="units-row">
        <div class="unit-centered unit-50">
            <fieldset>
                <legend>Proyectos y Áreas de investigación</legend>
                {{ form_start(form, { 'attr': {'class': 'forms forms-columnar'} }) }}
                          
                    <p>
                        {{ form_label(form.proyecto, 'Proyecto *') }}
                        {{ form_widget(form.proyecto, { 'attr': {'class': 'width-100'} }) }}
                    </p>                    

                    <p>
                        {{ form_label(form.area, 'Área de investigación *') }}
                        {{ form_widget(form.area, { 'attr': {'class': 'width-100'} }) }}
                    </p>
                    
                    <p>
                        {{ form_rest(form) }}    
                    </p>
                {{ form_end(form) }}
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}