{% extends '::backend.html.twig' %}

{% block mapa %}
    <li><a href="{{ path('posgradmin') }}">Inicio</a></li>
    <li><a href="{{ path('proyectos') }}">Proyectos</a></li>
    <li><span>Áreas de investigación</span></li>
{% endblock %}

{% block body %}
<aside class="unit-25 unit-padding">
    <h6>Opciones</h6>
    <nav class="nav-v">
        <ul>
            <li><a href="{{ path('alumnosproyectos') }}">Registro de alumnos</a></li>
            <li><a href="{{ path('investigadorproyecto') }}">Registro de investigadores</a></li>
            <li><a href="{{ path('proyectosproductos') }}">Registro de productos académicos</a></li>
            <li><span>Registrar área de investigación</span></li>
        </ul>
    </nav>
</aside>
<div class="unit-75">
    <div class="table-container">
        <table class="width-100 table-striped">
            <thead>
                <tr>
                    <th class="width-40">Áreas de investigación</th>
                    <th class="width-30">Proyectos</th>
                    <th class="width-30">Área de posgrado</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td class="enlace">
                        <a href="{{ path('areasproyectos_edit', { 'id': entity.id }) }}">
                            {{ entity.nom_area }}
                        </a>
                    </td>
                    <td class="enlace">
                        <a href="{{ path('areasproyectos_edit', { 'id': entity.id }) }}">
                            {{ entity.nombreCorto }}
                        </a>
                    </td>
                    <td class="enlace">
                        <a href="{{ path('areasproyectos_edit', { 'id': entity.id }) }}">
                            {{ entity.nom_posg }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<a href="{{ path('areasproyectos_new') }}" class="btn btn-blue">Nuevo</a>
{% endblock %}
